@using PDWModels.SpecRequests
@model SpecRequestInformation.FileListing

		@if( Model != null && Model.FileList.Any() )
  {
	  var linkId = Model.SpecName + "Download";
	  var functionName = Model.SpecName + "ChangeHistoryDropdown";
	  var ddlId = Model.SpecName + "DDL";
	  <select id="@ddlId" onchange="@functionName ();">
	  @foreach( var item in Model.FileList )
   {
	   <option value="@item.VersionNumber" data-extension="@item.Extension" data-fileName="@item.FileName">@item.FileName (@item.UploadDate)</option>
   }
	  </select>
	  <a id="@linkId" href="#" target="_blank">Download</a>
	  <script type="text/javascript">
		function @functionName () {
			$('#@linkId').attr('href', '/Documents/Typicals/@Model.SpecName/' + $('#@ddlId option:selected').data('extension') + '/' + $('#@ddlId').val() + '/' + $('#@ddlId option:selected').data('fileName'));
		}
		$(document).ready(function () {
			@functionName ();
		});
	  </script>
  }
