@model PDWModels.eCollateral.ECollateralDetails

<div>
@Html.EditorFor( m => m.Details[0], additionalViewData: new { index = 0 } )
</div>
<div style="float: left; width: 300px; margin-right: 10px;">
@Html.EditorFor( m => m.Details[1], additionalViewData: new { index = 1 } )
@Html.EditorFor( m => m.Details[2], additionalViewData: new { index = 2 } )
</div>
<div style="float: left; width: 300px; margin-right: 10px;">
@Html.EditorFor( m => m.Details[3], additionalViewData: new { index = 3 } )
@Html.EditorFor( m => m.Details[4], additionalViewData: new { index = 4 } )
</div>
<div style="float: left; width: 300px;">
@Html.EditorFor( m => m.Details[5], templateName: "DetailItemNoImage", additionalViewData: new { index = 5 } )
</div>
<i class="clear_0"></i>
@Html.Hidden( "Details.Index", 0 )
@Html.Hidden( "Details.Index", 1 )
@Html.Hidden( "Details.Index", 2 )
@Html.Hidden( "Details.Index", 3 )
@Html.Hidden( "Details.Index", 4 )
@Html.Hidden( "Details.Index", 5 )
