@model PDWModels.eCollateral.ECollateralLayout
@{
    ViewBag.Title = "SetLayout";
    Layout = "~/Views/Shared/NewLayout.cshtml";
	ViewBag.ShowHeaderArea = false;
}
<script type="text/javascript">
	function setLayout(layoutId) {
		$('#LayoutID').val(layoutId);
		$('#theForm').submit();
	}

	$(document).ready(function () {
		$('.cancelBtn').click(function (e) {
			location.href = '@Url.Action( "Manage", "ECB" )';
		});
	});
</script>
                     <div class="container">
<div class="main_inner1">
	<h3>
		What kind of layout would you like to work with?</h3>
	<div class="main_inner2_btm">
		<div class="main_inner2_btm_mid_myacct">
    @using( Html.BeginForm( "SetLayout", "ECB", FormMethod.Post, new { id = "theForm", name = "theForm", enctype = "multipart/form-data" } ) )
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor( m => m.ItemID )
		@Html.HiddenFor( m => m.LayoutID )
			<i class="clear_0"></i>
		foreach( var layout in ProductDataWarehouse.Controllers.ECBController.GetLayouts( PWDRepositories.ECollateralRepository.LayoutTypes.HTMLPage ) )
		{
			<div onclick="setLayout(@(layout.Value));">@(layout.Text)</div>
		}
			<i class="clear_0"></i><span class="btn7 cancelBtn">CANCEL</span>
	}
		</div>
		</div>
		</div>
		</div>