@model PDWModels.eCollateral.ECollateralInformation
@{
    ViewBag.Title = "VerifyLayout";
    Layout = "~/Views/Shared/NewLayout.cshtml";
	ViewBag.ShowHeaderArea = false;
}
<script type="text/javascript">
	$(document).ready(function () {
		$('.submitBtn').click(function (e) {
			location.href = '@Url.Action( "ConfirmLayout", "ECB", new { id = Model.Settings.ItemID } )';
		});

		$('.cancelBtn').click(function (e) {
			location.href = '@Url.Action( "Manage", "ECB" )';
		});
	});
</script>
<div class="container">
	<div class="main_inner1">
		<h3>
			You've edited all your content, so it's time to take a look to make sure it's perfect!</h3>
		<div class="main_inner2_btm">
			<div class="main_inner2_btm_mid_myacct">
				<i class="clear_0"></i>
				<ul>
					<li>
						<div class="colmn1">
							Is Template?</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.IsTemplate, templateName: "YesNo" )</div>
					</li>
					<li>
						<div class="colmn1">
							File Name</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.FileName )</div>
					</li>
					<li>
						<div class="colmn1">
							Custom URL</div>
						<div class="colmn3single">
							http://my.paoli.com/eCollateral/@Html.DisplayFor( m => m.Settings.CustomURL )</div>
					</li>
					@if( !Model.Settings.IsTemplate )
	 {
					<hr />
					<li class="projectInfo">
						<div class="colmn1">
							Sales Rep Territory</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.PaoliSalesRepGroupName )
					</li>
					<li class="projectInfo">
						<div class="colmn1">
							Dealership</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.DealershipName )</div>
					</li>
		 if( Model.Settings.DealershipPOCID.HasValue )
   {
					<li class="projectInfo">
						<div class="colmn1">
							Dealership Point of Contact</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.DealershipPOCMember )</div>
					</li>
   }
   else
   {
					<li class="DSRPOCCell">
						<div class="colmn1">
							Name</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.DealershipPOCName )</div>
					</li>
					<li class="DSRPOCCell">
						<div class="colmn1">
							Email</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.DealershipPOCEmail )</div>
					</li>
					<li class="DSRPOCCell">
						<div class="colmn1">
							Phone</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.DealershipPOCPhone )</div>
					</li>
					<li class="DSRPOCCell">
						<div class="colmn1">
							User Type</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.DealershipPOCAcctTypeName )</div>
					</li>
   }
					<li class="projectInfo">
						<div class="colmn1">
							Customer Name</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.CustomerName )</div>
					</li>
					<li class="projectInfo">
						<div class="colmn1">
							Project Name</div>
						<div class="colmn3single">
							@Html.DisplayFor( m => m.Settings.ProjectName )</div>
					</li>
	 }
				</ul>
			</div>
		</div>
		<div class="main_inner2_btm">
			<div class="">
		@Html.Partial( partialViewName: Model.DetailInfo.DisplayViewName, model: Model.DetailInfo )
			</div>
				<i class="clear_0"></i><span class="btn7 cancelBtn">CANCEL</span> <span class="btn8 submitBtn">SAVE AND CONTINUE</span>
		</div>
	</div>
</div>
