@model PDWModels.eCollateral.ECollateralInformation
@{
    ViewBag.Title = "VerifyLayout";
    Layout = "~/Views/Shared/NewLayout.cshtml";
	ViewBag.ShowHeaderArea = false;
}
<script type="text/javascript">
	$(document).ready(function () {
	});
</script>

<div class="content">
	<div class="boxes settingpage">
		<h1 class="aligncenter">You’ve edited all your content, so it’s <br/>time to take a look to make sure it’s perfect!</h1>
        
             
        <h2>Review Your File Settings</h2>
        
        <div class="filesettinglist">
        	<span>File Name</span>
            <b>@Html.DisplayFor( m => m.Settings.FileName )</b>
            <div class="clr"></div>

					@if( !Model.Settings.IsTemplate )
	 {
            <span>Sales Rep Territory</span>
            <b>@Html.DisplayFor( m => m.Settings.PaoliSalesRepGroupName )</b>
            <div class="clr"></div>
            
            <span>Dealership</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipName )</b>
            <div class="clr"></div>
            
		 if( Model.Settings.DealershipPOCID.HasValue )
		 {
            <span>Dealership Point of Contact</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipPOCMember )</b>
            <div class="clr"></div>
		 }
		 else
		 {
            <span>Name</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipPOCName )</b>
            <div class="clr"></div>
		 
            <span>Email</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipPOCEmail )</b>
            <div class="clr"></div>
		 
            <span>Phone</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipPOCPhone )</b>
            <div class="clr"></div>
		 
            <span>User Type</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipPOCAcctTypeName )</b>
            <div class="clr"></div>
		 }
            <span>End Customer</span>
            <b>@Html.DisplayFor( m => m.Settings.CustomerName )</b>
            <div class="clr"></div>
            
            <span>Project Name</span>
            <b>@Html.DisplayFor( m => m.Settings.ProjectName )</b>
            <div class="clr"></div>
	 }
            <span>Custom URL</span>
            <b>http://my.paoli.com/info/@Html.DisplayFor( m => m.Settings.CustomURL )</b>
            <div class="clr"></div>
            
        </div>
        
        <div class="line"></div>
        
        <h2>Preview Your Page Below</h2>
        <br>
        
			<div class="">
		@Html.Partial( partialViewName: Model.DetailInfo.DisplayViewName, model: Model.DetailInfo )
			</div>
        
        
    </div>
</div>


<footer class="mainfooter">
	<div class="leftdiv"><a href="@Url.Action( "Manage", "ePublisher" )" class="cancelBtn">Cancel</a></div>
    <div class="rightdiv"><a href="@Url.Action( "EditLayout", "ePublisher", new { id = Model.Settings.ItemID } )" class="previous previousBtn">Previous</a><a href="@Url.Action( "ConfirmLayout", "ePublisher", new { id = Model.Settings.ItemID } )" class="publish submitBtn">Publish</a></div>
</footer>
