@model PDWModels.eCollateral.ECollateralInformation
@{
	ViewBag.Title = "ConfirmLayout";
	Layout = "~/Views/Shared/NewLayout.cshtml";
	ViewBag.HeaderArea = "ePublisher";
	var CurrentUser = PDWInfrastructure.PaoliWebUser.CurrentUser;
}
<script type="text/javascript">
	$(document).ready(function () {
		$('#Settings_UpdateStatus').on('change', function (e) {
			if( $('#Settings_UpdateStatus').val() != '' ) {
				makeAjaxCall('/ePublisher/UpdateStatus',
					{ itemId: @Model.Settings.ItemID, updateStatus: $('#Settings_UpdateStatus').val() },
					function (data, textStatus, jqXHR) {
						$('#actualStatus').html($('#Settings_UpdateStatus option:selected').text());
					},
					function (jqXHR, textStatus, errorThrown) {
					}
				);
			}
		});
	});
</script>

<div class="content">
	<div class="boxes settingpage">
		<h1 class="aligncenter">It’s time to share your creation<br/>with the world!</h1>
        
             
        <h2>File Settings</h2>
        
        <div class="filesettinglist">
        	<span>Page Name</span>
            <b>@Html.DisplayFor( m => m.Settings.FileName )</b>
            <div class="clr"></div>

					@if( !Model.Settings.IsTemplate )
	 {
		 if( ( Model.Settings.PaoliSalesRepGroupName ?? "" ).Any() )
   {
            <span>Sales Rep Territory</span>
            <b>@Html.DisplayFor( m => m.Settings.PaoliSalesRepGroupName )</b>
            <div class="clr"></div>
   }
   
		 if( ( Model.Settings.DealershipName ?? "" ).Any() )
   {
            <span>Dealership</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipName )</b>
            <div class="clr"></div>
   }
            
   if( Model.Settings.DealershipPOCID.HasValue )
   {
            <span>Dealership Point of Contact</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipPOCMember )</b>
            <div class="clr"></div>
   }
   else
   {
		 if( ( Model.Settings.DealershipPOCName ?? "" ).Any() )
   {
            <span>Name</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipPOCName )</b>
            <div class="clr"></div>
   }
		 
		 if( ( Model.Settings.DealershipPOCEmail ?? "" ).Any() )
   {
            <span>Email</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipPOCEmail )</b>
            <div class="clr"></div>
   }
		 
		 if( ( Model.Settings.DealershipPOCPhone ?? "" ).Any() )
   {
            <span>Phone</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipPOCPhone )</b>
            <div class="clr"></div>
   }
		 
		 if( ( Model.Settings.DealershipPOCAcctTypeName ?? "" ).Any() )
   {
            <span>User Type</span>
            <b>@Html.DisplayFor( m => m.Settings.DealershipPOCAcctTypeName )</b>
            <div class="clr"></div>
   }
   }
		 if( ( Model.Settings.CustomerName ?? "" ).Any() )
   {
            <span>End Customer</span>
            <b>@Html.DisplayFor( m => m.Settings.CustomerName )</b>
            <div class="clr"></div>
   }
            
		 if( ( Model.Settings.ProjectName ?? "" ).Any() )
   {
            <span>Project Name</span>
            <b>@Html.DisplayFor( m => m.Settings.ProjectName )</b>
            <div class="clr"></div>
   }

            <span>Status</span>
            <b id="actualStatus">@Html.DisplayFor( m => m.Settings.Status )</b>
            <div class="clr"></div>

   if( CurrentUser.CanReviewECollateral )
   {
	   var theList = new List<SelectListItem>() { new SelectListItem() { Selected = true },
				new SelectListItem() { Text = PWDRepositories.ECollateralRepository.StatusTypes.StatusList[PWDRepositories.ECollateralRepository.StatusTypes.Approved], Value = PWDRepositories.ECollateralRepository.StatusTypes.Approved.ToString() },
				new SelectListItem() { Text = PWDRepositories.ECollateralRepository.StatusTypes.StatusList[PWDRepositories.ECollateralRepository.StatusTypes.Unapproved], Value = PWDRepositories.ECollateralRepository.StatusTypes.Unapproved.ToString() }
		  };

	   if( theList.Any( i => i.Value == Model.Settings.UpdateStatus.ToString() ) )
	   {
		   theList.RemoveAll( i => !( i.Text ?? "" ).Any() );
	   }
            <span>Update Status</span>
            <b>@Html.DropDownListFor( m => m.Settings.UpdateStatus, theList, new { @class = "newLookDDL" } )</b>
            <div class="clr"></div>
            
   }
	 }
            <span class="emphasis">Live Page Link</span>
            <b><a href="/info/@Html.DisplayFor( m => m.Settings.CustomURL )" target="_blank">http://my.paoli.com/info/@Html.DisplayFor( m => m.Settings.CustomURL )</a></b>
            <div class="clr"></div>
        </div>
        
        <div class="line"></div>
        
        <h2>Page Preview</h2>
        <br>
        
			<div class="">
		@Html.Partial( partialViewName: Model.DetailInfo.DisplayViewName, model: Model.DetailInfo )
			</div>
        
        
    </div>
</div>


<footer class="mainfooter">
    <div class="rightdiv"><a href="@Url.Action( "EditLayout", "ePublisher", new { id = Model.Settings.ItemID } )" class="previous editBtn">Edit</a><a href="@Url.Action( "Manage" )" class="publish submitBtn">Done Return to Dashboard</a></div>
</footer>
