@using ProductDataWarehouse.Models
@model PDWModels.Users.UserInformation
@{
	ViewBag.Title = "Edit User";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ProductDataWarehouse.Controllers

@if( ViewBag.CloseFancyBox ?? false )
{
    <script type="text/javascript">
    	$(document).ready(function () {
    		parent.$.fancybox.close();
    		if (parent.loadUsers) {
    			parent.loadUsers();
    		}
    	});
    </script>
}
else
{
    <script type="text/javascript">
    	$(document).ready(function () {
    		reloadAccountType();

    		$('#CompanyID').change(function () {
    			reloadAccountType();
    		});
    	});

    	function reloadAccountType() {
    		$.ajax({
    			dataType: 'json',
    			type: 'GET',
    			url: '/Company/GetTypeListForCompany',
    			data: { companyId: $('#CompanyID').val() },
    			success: function (data, textStatus, jqXHR) {
    				var curVal = $('#AccountType').val();
    				$('#AccountType').empty();
    				$.each(data.theList, function (idx, item) {
    					$('#AccountType').append('<option value="' + item.Value + '" ' + ((curVal == item.Value) ? 'selected' : '') + '>' + item.Text + '</option>');
    				});
    			},
    			error: function (jqXHR, textStatus, errorThrown) {
    				alert('Error getting Account Type list:' + errorThrown)
    			}
    		});
			
    	}
    </script>    
}
    <h2>Edit User</h2>

    @using( Html.BeginForm( "Edit", "User", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
	{
		@Html.HiddenFor( m=> m.UserID )
        <span class="dataRow">@Html.MJLabelFor( m => m.EmailAddress, true )@Html.TextBoxFor( m => m.EmailAddress )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.FirstName, true )@Html.TextBoxFor( m => m.FirstName )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.LastName, true )@Html.TextBoxFor( m => m.LastName )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.CompanyID, true )@Html.DropDownListFor( m => m.CompanyID, CompanyController.GetCompanyDDList() )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.Address1, true )@Html.TextBoxFor( m => m.Address1 )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.Address2, true )@Html.TextBoxFor( m => m.Address2 )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.City, true )@Html.TextBoxFor( m => m.City )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.State, true )@Html.DropDownListFor( m => m.State, UserController.GetStateDDList() )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.Zip, true )@Html.TextBoxFor( m => m.Zip )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.BusinessPhone, true )@Html.TextBoxFor( m => m.BusinessPhone )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.CellPhone, true )@Html.TextBoxFor( m => m.CellPhone )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.Title, true )@Html.TextBoxFor( m => m.Title )<br/></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.AccountType, true )@Html.DropDownListFor( m => m.AccountType, UserController.GetUserRoleDDList() )<br/></span>
		if( PDWInfrastructure.PaoliWebUser.CurrentUser.UserId != Model.UserID )
		{
        <span class="dataRow">@Html.MJLabelFor( m => m.Enabled, true )@Html.CheckBoxFor( m => m.Enabled )<br/></span>
		}
		else
		{
			@Html.HiddenFor( m => m.Enabled )
		}
@Html.ValidationSummary()
        <input type="submit" class="btn_type1" value="Update" id="submitBtn" />
	}
