@model PDWModels.Companies.MyCompanyInfo
@{
	Layout = "~/Views/Shared/NewLayout.cshtml";
	ViewBag.HeaderArea = "Users";
}
<div class="container">
	<div class="main_inner1">
		<div class="territory-companyProfile">
			<!--left Column -->
			<div class="main_inner2_btm_2Col_Col marginTop30">
				<h2>
					@Model.CompanyName</h2>
				<div class="addrssColmn">
					@Model.Address1<br>
					@if( ( Model.Address2 ?? "" ).Any() )
	 {
		 <text>
					@Model.Address2<br>
					</text>
	 }
					@Model.City @Model.State @Model.Zip
				</div>
				<div class="phneFaxWebLblColmn marginTop30">
					Phone<br>
					Fax<br>
					Website
				</div>
				<div class="phneFaxWebInfoColmn marginTop30">
					@Model.PhoneNumber<br>
					@Model.FaxNumber<br>
					<a href="@Model.WebSite">@Model.WebSite</a>
				</div>
				@if( Model.IsTripIncentive )
	{
				<img src="/NewContent/images/incentiveFPO.jpg" alt="" width="455" height="207" class="incentiveImg" />
	}
	@if( PDWInfrastructure.PaoliWebUser.CurrentUser.CanViewMyTerritory || PDWInfrastructure.PaoliWebUser.CurrentUser.CanManageTerritories )
 {
	 <div class="clear"></div>
	 <span class="btn7" id="editContactBtn">EDIT</span>
 }
			</div>
			<!--//END left Column -->
			<!--right Column -->
			<div class="main_inner2_btm_2Col_Col">
			<a href="#changeCompanyImage" id="changeCompanyImageLink">
				<img src="@(Model.ImageFileName == null ? "/NewContent/images/company-logo-placeholder.png" : ( "/images/" + Model.ImageFileName ))" alt="" style="max-width:450px;max-height:175px;" />
			</a>
			</div>
			<div class="clear"></div>
			<!--//END right Column -->
			<hr>
			<!-- registered user tablature data --->
			<a href="javascript:void(0)" id="newUserLink" class="flt_Rt"><img src="/NewContent/images/addPlusSig.jpg" width="15" height="15" />New User</a>
			<h4>Registered Users</h4>
			<table class="userTable" id="userList">
			</table>
			<!-- //END registered user tablature data --->
			<div class="clear">
			</div>
		</div>
	</div>
</div>

<div style="display:none;">
	<div id="changeCompanyImage">
    @using( Html.BeginForm( "MyCompanyImage", "User", FormMethod.Post, new { id = "theForm", name = "theForm", enctype = "multipart/form-data" } ) )
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor( m => m.TheCompanyID )
		<div class="main_inner2_btm"> 
			<div class="main_inner2_btm_mid_myacct">   
				<h4 class="bold">Update Company Image</h4> 
				<ul>
					<li>
						<div class="colmn3-1">Change Company Image</div>
						<div class="colmn3filebrowser"><input id="CompanyImage" name="CompanyImage" accept=".jpg,.png,.gif,.bmp" type="file"/></div>
					</li>              
				</ul>
				<div class="clear"></div>
				<div class="colmn1">Maximum dimensions are 450x175 and file must be less than 500Kb.</div>
			</div>
			<div class="clear"></div>
			<span class="btn7 cancelCIBtn">CANCEL</span> <span class="btn8 submitCIBtn">SAVE</span> 
		</div>
	}
	</div>

	<a href="#deactivateRequest" id="mainDeactivateBtn"></a>
	<div id="deactivateRequest">
		<div class="main_inner9_btm"> 
			<div class="main_inner9_btm_top">
				<div class="main_inner8_rt_msg">
					<h2 class="bold">Request Deactivation</h2>
					<h5>Please provide a reason for My.Paoli Admin to deactivate.</h5>
					<textarea class="msg1" cols="20" id="Reason" name="Reason" rows="2"></textarea>
					<input type="hidden" id="DUserID" value="" />
				</div>
				<i class="clear_0"></i>
			</div>
			<div class="clear"></div>
			<span class="btn7 cancelDDBtn">CANCEL</span> <span class="btn8 submitDDBtn">SAVE</span> 
		</div>
	</div>

	<a href="#emailChangeRequest" id="mainChangeEmailBtn"></a>
	<div id="emailChangeRequest">
		<div class="main_inner9_btm"> 
			<div class="main_inner9_btm_top">
				<div class="main_inner8_rt_msg">
					<h2 class="bold">Request Email Address Change</h2>
					<h5>Please provide the new email address for this user.</h5>
					<input class="msg2" id="NewAddress" name="NewAddress" />
					<input type="hidden" id="EUserID" value="" />
				</div>
				<i class="clear_0"></i>
			</div>
			<div class="clear"></div>
			<span class="btn7 cancelECBtn">CANCEL</span> <span class="btn8 submitECBtn">SAVE</span> 
		</div>
	</div>

	@{Html.RenderPartial( "RequestNewCompany" );}

	@{Html.RenderPartial( "RequestNewUser" );}
</div>

<script type="text/javascript">
	function getNewUserCompanyID() {
		return '@(Model.TheCompanyID)';
	}

	function addEditUserCallback() {
		loadUsers();
	}

	function getNewTerritoryID() {
		return '@(Model.TerritoryID)';
	}

	function getNewCompanyType() {
		return '@(PDWInfrastructure.PaoliWebUser.PaoliCompanyType.Dealer)';
	}

	function addEditCompanyCallback() {
		location.reload();
	}

	$(document).ready(function () {
		loadUsers();

		$('#changeCompanyImageLink').fancybox({
			'autoDimensions': false,
			'width': 972,
			'height': 220,
			'padding': 20,
			'margin': 0,
			'scrolling': 'auto',
			'titleShow': false
		});

		$('#newUserLink').click(function(e) {
			$('.addOnly').show();
			$('.addOnly input').removeClass('noValidate');
			$('.addOnly select').removeClass('noValidate');
			$('#theContactUserForm h2').text('Add Dealership User');
			$('#mainEditUserContactBtn').trigger('click');
		});

		$('.submitCIBtn').click(function (e) {
			$('#theForm').submit();
		});

		$('.cancelCIBtn').on('click', function() {
			$.fancybox.close();
		});

		$('#mainDeactivateBtn').fancybox({
			'autoDimensions': false,
			'width': 972,
			'height': 270,
			'padding': 20,
			'margin': 0,
			'scrolling': 'auto',
			'titleShow': false
		});

		$('.submitDDBtn').click(function (e) {
			if( $('#Reason').val() != null && $('#Reason').val() != '' ) {
				makeAjaxCall('/User/RequestDeactiviation',
					{ userId: $('#DUserID').val(), reason: $('#Reason').val() },
					function(data, textStatus, jqXHR) {
						alert('Thank you for your request.  We\'ll process it shortly.');
						$('#Reason').val('');
						$.fancybox.close();
					},
    				function (jqXHR, textStatus, errorThrown) {    			
    				}
    			);
			}
		});

		$('.cancelDDBtn').on('click', function() {
			$.fancybox.close();
		});

		$('#mainChangeEmailBtn').fancybox({
			'autoDimensions': false,
			'width': 972,
			'height': 170,
			'padding': 20,
			'margin': 0,
			'scrolling': 'auto',
			'titleShow': false
		});

		function isValidEmailAddress(emailAddress) {
			var pattern = new RegExp('^[A-Za-z0-9](([_\\.\\-\\+]?[a-zA-Z0-9]+)*)@@([A-Za-z0-9]+)(([\\.\\-]?[a-zA-Z0-9]+)*)\\.([A-Za-z]{2,})$');
			return pattern.test(emailAddress);
		};

		$('.submitECBtn').click(function (e) {
			if( $('#NewAddress').val() != null && $('#NewAddress').val() != '' ) {
				if( !isValidEmailAddress( $('#NewAddress').val() ) ) {
					alert( 'Please provide a valid email address' );
					return;
				}

				makeAjaxCall('/User/RequestEmailChange',
					{ userId: $('#EUserID').val(), emailAddress: $('#NewAddress').val() },
					function(data, textStatus, jqXHR) {
						alert('Thank you for your request.  We\'ll process it shortly.');
						$('#NewAddress').val('');
						$.fancybox.close();
					},
    				function (jqXHR, textStatus, errorThrown) {    			
    				}
    			);
			}
		});

		$('.cancelECBtn').on('click', function() {
			$.fancybox.close();
		});

		$('#editContactBtn').on('click', function() {
			clearNewCompanyForm(false);
			$('#TheCompanyID').val('@(Model.TheCompanyID)');
			$('#mainEditContactBtn').trigger('click');
		});

		@if( ViewBag.ImageTooBig ?? false )
  {
		<text>
		alert('The image provided was too large.  Please use an image less than 500Kb.');
		</text>
  }
	});

	var uTable = null;
	function loadUsers() {
		if (uTable != null) {
			uTable.fnDraw();
			return;
		}

		uTable = $('#userList').dataTable({
			"bServerSide": true,
			"bAutoWidth": false,
			"bFilter": false,
			"bLengthChange": false, // don't show dropdown for #items per page
			"bPaginate": true,
			"bInfo": true,
			"sAjaxSource": '@Url.Action( "MyCompanyUserList", "User" )',
			"fnServerParams": function (aoData) {
				aoData.push({ "name": "companyId", "value": @Model.TheCompanyID });
			},
			"iDisplayLength": 100,
			"fnServerData": function (sSource, aoData, fnCallback) {
				makeAjaxCall(sSource,
					aoData,
					function (data, textStatus, jqXHR) {
						fnCallback(data, textStatus, jqXHR);

						$('.deactivateBtn').on('click', function() {
							$('#DUserID').val($(this).data('id'));

							$('#mainDeactivateBtn').trigger('click');
						});

						$('.changeEmailBtn').on('click', function() {
							$('#EUserID').val($(this).data('id'));

							$('#mainChangeEmailBtn').trigger('click');
						});

						$('.editUserContactBtn').on('click', function() {
							makeAjaxCall('/User/GetDealerContactInfo',
								{ userId: $(this).data('id') },
								function(data, textStatus, jqXHR) {
									$.each(data, function(name, val){
										var $el = $('[name="'+name+'"]'),
											type = $el.attr('type');

										switch(type){
											case 'checkbox':
												$el.attr('checked', 'checked');
												break;
											case 'radio':
												$el.filter('[value="'+val+'"]').attr('checked', 'checked');
												break;
											default:
												$el.val(val);
												break;
										}
									});

									$('.addOnly').hide();
									$('.addOnly input').addClass('noValidate');
									$('.addOnly select').addClass('noValidate');
									$('#theContactUserForm h2').text('Edit Dealership User Contact Information');

									$('#mainEditUserContactBtn').trigger('click');
								},
    							function (jqXHR, textStatus, errorThrown) {    			
    							}
    						);
						});
					},
					function (jqXHR, textStatus, errorThrown) { alert('Error getting list of Users:' + errorThrown) }
				);
			},
			"bProcessing": false, // don't want to use the default progress indicator at this time
			"aaSorting": [[1, "asc"]],
			"asStripeClasses": [],
			"aoColumnDefs": [
                    { "sName": "FirstName", "sTitle": "First Name<span></span>", "sClass": "hasSpan", "aTargets": [0], "mDataProp": "FirstName", "sWidth": "25%" },
                    { "sName": "LastName", "sTitle": "Last Name<span></span>", "sClass": "hasSpan", "aTargets": [1], "mDataProp": "LastName", "sWidth": "25%" },
                    { "sName": "Title", "sTitle": "Title<span></span>", "sClass": "hasSpan", "aTargets": [2], "mDataProp": "Title", "sWidth": "25%" },
                    { "sName": "Role", "sTitle": "Role<span></span>", "sClass": "hasSpan", "aTargets": [3], "mDataProp": "Role", "sWidth": "15%", "bSortable": false },
					{ "sName": "EditButtons", "sTitle": "Actions", "sClass": "hasSpan", "aTargets": [4], "mDataProp": "EditButtons", "bSortable": false, "sWidth": "10%",
						"fnRender": function(oObj) {
							var s = '';
							s += '<span class="btn13 deactivateBtn" data-id="' + oObj.aData["UserID"] + '" title="Request Deactivation">X</span>';
					@if( PDWInfrastructure.PaoliWebUser.CurrentUser.CanViewMyTerritory || PDWInfrastructure.PaoliWebUser.CurrentUser.CanManageTerritories )
	 {
		 <text>
							s += '&nbsp;';
							s += '<span class="btn13 changeEmailBtn" data-id="' + oObj.aData["UserID"] + '" title="Request Email Change"><i class="fa fa-envelope-o"></i></span>';
							s += '&nbsp;';
							s += '<span class="btn13 editUserContactBtn" data-id="' + oObj.aData["UserID"] + '" title="Edit Contact Information"><i class="fa fa-edit"></i></span>';
		</text>
	 }
							return s;
						}
					}
                ]
		});
	}

</script>