@model List<PDWModels.Collateral.CollateralShipmentDetail>
@{
	ViewBag.Title = "Add Collateral Shipment";
	ViewBag.CurrentPage = "Database";
	ViewBag.CurrentSubPage = "Collateral";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}
@using ProductDataWarehouse.Models
@using ProductDataWarehouse.Controllers

    <script type="text/javascript">
    	var itemCount = @Model.Count;
    	$(document).ready(function () {
    		$('#addItemBtn').click(function (e) {
    			e.preventDefault();

    			var newRow = $('#shipmentData tbody tr:first-child').clone();
    			newRow.find('.ddlCollateral').attr('name', '[' + itemCount + '].CollateralID');
    			newRow.find('.txtQuantity').attr('name', '[' + itemCount + '].Quantity');
				newRow.find('.txtQuantity').val(0);
				newRow.find('#Index').val(itemCount);
    			newRow.appendTo('#shipmentData tbody');
    			itemCount++;

				showHideRemoveLinks();

    		});

			showHideRemoveLinks();
    	});

		function deleteItem( link ){
			if( confirm( 'Delete item?' ) ) {
				link.closest('tr').remove();
				showHideRemoveLinks();
			}
		}

		function isFormValid() {
			if( $('#shipmentData tbody tr').length == 0 ) {
				alert( 'Please add at least one item to this shipment.' );
				return false;
			}
			return true;
		}

		function showHideRemoveLinks() {
			if( $('#shipmentData tbody tr').length <= 1 ) {
				$('.linkRemove').hide();
			} else {
				$('.linkRemove').show();
			}
		}
    </script>    

    <h2>Add Collateral Shipment</h2>

    @using( Html.BeginForm( "AddShipment", "Collateral", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
	{
		<table cellpadding="0" cellspacing="0" class="dataLayout" id="shipmentData">
		<thead>
		<tr>
		<th style="width:276px">Collateral</th>
		<th style="width:276px">Quantity</th>
		</tr>
		</thead>
		<tbody>
		@for( int i = 0; i < Model.Count; i++ )
  {
        <tr>
		@Html.Hidden( "Index", i )
		<td>@Html.DropDownListFor( m => m[i].CollateralID, CollateralController.GetProductDDList(), new { @class = "ddlCollateral" } )</td>
		<td>@Html.TextBoxFor( m => m[i].Quantity, new { @class = "txtQuantity" } )</td>
		<td><a href="javascript:void(0);" onclick="deleteItem($(this));" class="linkRemove">Remove</a></td>
		</tr>
  }
		</tbody>
		</table>
@Html.ValidationSummary()
        <input type="button" class="btn_type1" value="Add Item" id="addItemBtn" />
        <input type="submit" class="btn_type1" value="Add Shipment" id="submitBtn" onclick="return isFormValid();" />
	}
