@model PDWModels.Collateral.NewOrderInformation
@{
	ViewBag.Title = "Edit Collateral Order";
	ViewBag.CurrentPage = "Database";
	ViewBag.CurrentSubPage = "Collateral";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}
@using ProductDataWarehouse.Models
@using ProductDataWarehouse.Controllers

    <script type="text/javascript">
    	var fileCount = 1;
    	$(document).ready(function () {
			@if( Model.OrderDate.HasValue )
   {
			<text>
                $('#orderDate').text(getLocalDate('@Model.OrderDate.Value.ToString()'));
			</text>
   }

    		$.data($('#theForm')[0], 'validator').settings.ignore = ':hidden';
    		$.validator.addMethod(
					"atLeastOneItem",
					function (value, element, regexp) {
						var itemCount = 0;
						$('.quantityInput').each(function () {
							itemCount += $(this).val();
						});
						return (itemCount > 0);
					},
					"Please add at least one item to your order."
				);
			$.validator.addMethod(
					"atLeastShippedQuantity",
					function(value, element, regexp) {
						return parseInt($(element).val()) >= parseInt($(element).data('shipped'));
					},
					"Please select a value greater than the shipped amount."
				);
    		$.validator.addMethod(
					"regex",
					function (value, element, regexp) {
						var re = new RegExp(regexp);
						return this.optional(element) || re.test(value);
					},
					"Please check your input."
				);

    		$('.quantityInput').last().rules("add", { atLeastOneItem: true, messages: { number: 'Please add at least one item to your order.'} });
    		$('.quantityInput').rules("add", { atLeastShippedQuantity: true, messages: { number: 'Please select a value greater than the shipped amount.'} });
    		$("#tb1ShippingZip").rules("add", { regex: "^\\d{5}(-\\d{4})?$", messages: { regex: "Zip Code must be in the format ##### or #####-####."} });
    		$("#tb1ShippingPhoneNumber").rules("add", { regex: "^[2-9]\\d{2}-\\d{3}-\\d{4}$", messages: { regex: "Phone Number must be in the format ###-###-####."} });
    		$("#tb1ShippingEmailAddress").rules("add", { regex: "^[A-Za-z0-9](([_\\.\\-\\+]?[a-zA-Z0-9]+)*)@@([A-Za-z0-9]+)(([\\.\\-]?[a-zA-Z0-9]+)*)\\.([A-Za-z]{2,})$", messages: { regex: "Email must be a valid Email Address."} });
    		$("#tb2ShippingZip").rules("add", { regex: "^\\d{5}(-\\d{4})?$", messages: { regex: "Zip Code must be in the format ##### or #####-####."} });
    		$("#tb2ShippingPhoneNumber").rules("add", { regex: "^[2-9]\\d{2}-\\d{3}-\\d{4}$", messages: { regex: "Phone Number must be in the format ###-###-####."} });
    		$("#tb2ShippingEmailAddress").rules("add", { regex: "^[A-Za-z0-9](([_\\.\\-\\+]?[a-zA-Z0-9]+)*)@@([A-Za-z0-9]+)(([\\.\\-]?[a-zA-Z0-9]+)*)\\.([A-Za-z]{2,})$", messages: { regex: "Email must be a valid Email Address."} });
    		$('#ShippingFedexAccount').rules("add", { required: true, messages: { required: "Fedex Account Number is required."} });

    		$('.cancelBtn').click(function (e) {
    			window.location.href = '@Url.Action( "Orders" )';
    		});

    		changeShippingType();
    		$('#ShippingType').change(function (e) {
    			changeShippingType();
    		});

    		$('input:radio[name=ShippingAddressType]').click(function (e) {
				setCompanyDetails(false);
    		});

			setCompanyDetails(true);
    	});

    	function changeShippingType() {
    		switch ($('#ShippingType').val()) {
    			case '@PDWModels.Collateral.NewOrderInformation.STGround':
    				$('.fedexAccount').hide();
    				break;
    			case '@PDWModels.Collateral.NewOrderInformation.ST2DayFedex':
    				$('.fedexAccount').show();
    				break;
    			case '@PDWModels.Collateral.NewOrderInformation.STOvernightFedex':
    				$('.fedexAccount').show();
    				break;
    			case '@PDWModels.Collateral.NewOrderInformation.STStdOvernightFedex':
    				$('.fedexAccount').show();
    				break;

    		}
    	}

    	function setCompanyDetails(bInit) {
    		var officialUserID = null, officialCompanyID = null;

    		switch ('@Model.ShippingParty') {
    			case '@PDWModels.Collateral.NewOrderInformation.RPPaoliMember':
    				officialUserID = @(Model.SPPaoliMemberID.HasValue ? Model.SPPaoliMemberID.ToString() : "null");
    				break;
    			case '@PDWModels.Collateral.NewOrderInformation.RPPaoliRepresentative':
    				officialUserID = @(Model.SPPaoliRepGroupMemberID.HasValue ? Model.SPPaoliRepGroupMemberID.ToString() : "null");
    				officialCompanyID = @(Model.SPPaoliRepGroupID.HasValue ? Model.SPPaoliRepGroupID.ToString() : "null");
    				break;
    			case '@PDWModels.Collateral.NewOrderInformation.RPDealer':
    				officialUserID = @(Model.SPDealerMemberID.HasValue ? Model.SPDealerMemberID.ToString() : "null");
    				officialCompanyID = @(Model.SPDealerID.HasValue ? Model.SPDealerID.ToString() : "null");
					break;
    		}

   			if (officialCompanyID == null && officialUserID == null) {
    			$('#ShippingAddressType[value="0"]').attr('disabled', true);
			}

			if ($('input:radio[name=ShippingAddressType]:checked').val() == '1') {
				$('.currentAddress').attr('disabled', 'disabled');
				$('.newAddress').removeAttr('disabled');
				if( bInit ) {
   					if (officialCompanyID != null || officialUserID != null) {
    					makeAjaxCall('/Company/GetShippingAddress',
    						{ companyId: officialCompanyID, userId: officialUserID },
    						function (data, textStatus, jqXHR) {
    							$('#tb1ShippingCompanyName').val(data.Name);
    							$('#tb1ShippingAttn').val(data.ContactAttn);
    							$('#tb1ShippingAddress1').val(data.Address1);
    							$('#tb1ShippingAddress2').val(data.Address2);
    							$('#tb1ShippingCity').val(data.City);
    							$('#tb1ShippingState').val(data.State);
    							$('#tb1ShippingZip').val(data.Zip);
    							$('#tb1ShippingPhoneNumber').val(data.Phone);
    							$('#tb1ShippingEmailAddress').val(data.ContactEmail);

    						},
    						function (jqXHR, textStatus, errorThrown) {
    							alert('Error getting Company Address:' + errorThrown)
    						}
    					);
					}
				}
			} else {
				$('.newAddress').attr('disabled', 'disabled');
				$('.currentAddress').removeAttr('disabled');
				if( bInit ) {
					$('.newAddress').val(null);
				}
			}
    	}

	</script>

    @using( Html.BeginForm( "EditOrder", "Collateral", FormMethod.Post, new { id = "theForm", name = "theForm", enctype = "multipart/form-data" } ) )
	{
		@Html.AntiForgeryToken()
		<div>
		<div class="left">
			<h2>Edit Collateral Order - @Model.OrderID</h2>
		</div>
		<div class="right">
		@Html.MJLabelFor( m => m.OrderDate, true ) <span id="orderDate"></span>
		</div>
		<div class="clear"></div>
		</div>
		@Html.HiddenFor( m => m.OrderID )
		<div class="activeSection requestPanel">
			<h3>Who's Requesting</h3>
			<table cellpadding="0" cellspacing="0" class="dataLayout">
				<tr>
					<td>@Html.MJLabelFor( m => m.RequestingParty, false )</td><td>@PDWModels.Collateral.NewOrderInformation.RequestingParties[Model.RequestingParty]</td>
				</tr>
				<tr>
					<td>@Html.MJLabelFor( m => m.RequestingPartyName, true )</td><td>@Html.DisplayFor( m => m.RequestingPartyName )</td>
				</tr>
				<tr>
				<td>&nbsp;</td>
				</tr>
				<tr>
					<td>@Html.MJLabelFor( m => m.ShippingParty, false )</td><td>@PDWModels.Collateral.NewOrderInformation.RequestingParties[Model.ShippingParty]</td>
				</tr>
				<tr>
					<td>@Html.MJLabelFor( m => m.ShippingPartyName, true )</td><td>@Html.DisplayFor( m => m.ShippingPartyName )</td>
				</tr>
			</table>
		</div>
	
		<div class="requestPanel">
			<h3>Order Details</h3>
			<table cellpadding="0" cellspacing="0" class="dataLayout rowHeight30" id="remainingItemTable">
				<thead>
					<tr class="fwb">
						<td>Item</td><td class="tac">Quantity</td>
					</tr>
				</thead>
				<tbody>
				@for( int i = 0; i < Model.OrderDetails.Count; i++ )
	{
		@Html.HiddenFor( m => m.OrderDetails[i].CollateralID )
					<tr>
						<td class="colName">@Html.DisplayFor( m => m.OrderDetails[i].Name )</td>
						<td class="tac dataInfoThin">@Html.TextBoxFor( m => m.OrderDetails[i].Quantity, new { @class = "quantityInput", data_shipped = Model.OrderDetails[i].ShippedQuantity } )</td>
					</tr>
	}
				</tbody>
			</table>
		</div>

		<div class="requestPanel">
			<h3>Shipping Information</h3>
			<table cellpadding="0" cellspacing="0" class="dataLayout">
				<tr>
					<td>@Html.LabelFor( m => m.ShippingType )</td><td>@Html.DropDownListFor( m => m.ShippingType, PDWModels.Collateral.NewOrderInformation.ShippingTypes.Select( st => new SelectListItem() { Text = st.Value, Value = st.Key.ToString() } ), new { @style = "width:320px" } )</td>
				</tr>
				<tr class="fedexAccount">
					<td>@Html.LabelFor( m => m.ShippingFedexAccount )</td><td>@Html.TextBoxFor( m => m.ShippingFedexAccount )</td>
				</tr>
			</table>
			<table cellpadding="0" cellspacing="0" class="dataLayout theseAreTheShippingFields">
				<tr>
					<td colspan="3">@Html.LabelFor( m => m.ShippingAddressType )</td>
				</tr>
				<tr>
					<td></td>
					<td class="padt15 padb15">@Html.RadioButtonFor( m => m.ShippingAddressType, "0", new { @checked = "checked" } ) Current Address on File</td>
					<td class="padt15 padb15">@Html.RadioButtonFor( m => m.ShippingAddressType, "1" ) Alternative Address</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingAttn )</td><td>@Html.TextBoxFor( m => m.ShippingAttn, new { @class = "currentAddress", @id = "tb1ShippingAttn" } )</td><td>@Html.TextBoxFor( m => m.ShippingAttn, new { @class = "newAddress", @id = "tb2ShippingAttn" } )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingCompanyName )</td><td>@Html.TextBoxFor( m => m.ShippingCompanyName, new { @class = "currentAddress", @id = "tb1ShippingCompanyName" } )</td><td>@Html.TextBoxFor( m => m.ShippingCompanyName, new { @class = "newAddress", @id = "tb2ShippingCompanyName" } )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingAddress1 )</td><td>@Html.TextBoxFor( m => m.ShippingAddress1, new { @class = "currentAddress", @id = "tb1ShippingAddress1" } )</td><td>@Html.TextBoxFor( m => m.ShippingAddress1, new { @class = "newAddress", @id = "tb2ShippingAddress1" } )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingAddress2 )</td><td>@Html.TextBoxFor( m => m.ShippingAddress2, new { @class = "currentAddress", @id = "tb1ShippingAddress2" } )</td><td>@Html.TextBoxFor( m => m.ShippingAddress2, new { @class = "newAddress", @id = "tb2ShippingAddress2" } )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingCity )</td><td>@Html.TextBoxFor( m => m.ShippingCity, new { @class = "currentAddress", @id = "tb1ShippingCity" } )</td><td>@Html.TextBoxFor( m => m.ShippingCity, new { @class = "newAddress", @id = "tb2ShippingCity" } )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingState )</td><td>@Html.DropDownListFor( m => m.ShippingState, UserController.GetStateDDList(), new { @class = "currentAddress", @id = "tb1ShippingState" } )</td><td>@Html.DropDownListFor( m => m.ShippingState, UserController.GetStateDDList(), new { @class = "newAddress", @id = "tb2ShippingState" } )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingZip )</td><td>@Html.TextBoxFor( m => m.ShippingZip, new { @class = "currentAddress", @id = "tb1ShippingZip" } )</td><td>@Html.TextBoxFor( m => m.ShippingZip, new { @class = "newAddress", @id = "tb2ShippingZip" } )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingPhoneNumber )</td><td>@Html.TextBoxFor( m => m.ShippingPhoneNumber, new { @class = "currentAddress", @id = "tb1ShippingPhoneNumber" } )</td><td>@Html.TextBoxFor( m => m.ShippingPhoneNumber, new { @class = "newAddress", @id = "tb2ShippingPhoneNumber" } )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingEmailAddress )</td><td>@Html.TextBoxFor( m => m.ShippingEmailAddress, new { @class = "currentAddress", @id = "tb1ShippingEmailAddress" } )</td><td>@Html.TextBoxFor( m => m.ShippingEmailAddress, new { @class = "newAddress", @id = "tb2ShippingEmailAddress" } )</td>
				</tr>
			</table>
		</div>
		<hr />
@Html.ValidationSummary()
		<div>
        <input type="submit" class="btn_type1" value="Save Order" id="submitBtn" />
		<input type="button" class="btn_type1 cancelBtn" value="Cancel Changes" />
		</div>
	}