@model PDWModels.Collateral.CollateralInformation
@{
	ViewBag.Title = "Edit Collateral";
	ViewBag.CurrentPage = "Database";
	ViewBag.CurrentSubPage = "Collateral";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}
@using ProductDataWarehouse.Models
@using ProductDataWarehouse.Controllers

    <script type="text/javascript">
    	$(document).ready(function () {
    		$('#StatusDate').datepicker(
            {
            	dateFormat: "mm/dd/yy",
            	minDate: new Date(),
            	changeMonth: true,
            	changeYear: true,
            	yearRange: '2014:2100'
            });
    	});
    </script>    

    <h2>Edit Collateral</h2>

    @using( Html.BeginForm( "Edit", "Collateral", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor( m => m.CollateralID )
		<table cellpadding="0" cellspacing="0" class="dataLayout">
        <tr>
		<td>@Html.MJLabelFor( m => m.Name, true )</td><td>@Html.TextBoxFor( m => m.Name )</td>
		</tr>
		<tr>
		<td>@Html.MJLabelFor( m => m.CollateralTypeID, true )</td><td>@Html.DropDownListFor( m => m.CollateralTypeID, CollateralController.GetCollateralTypeDDList() )</td>
		</tr>
        <tr>
		<td>@Html.MJLabelFor( m => m.Description, true )</td><td>@Html.TextAreaFor( m => m.Description )</td>
		</tr>
        <tr>
		<td>@Html.MJLabelFor( m => m.LeadTime, true )</td><td>@Html.TextBoxFor( m => m.LeadTime )</td>
		</tr>
        <tr>
		<td>@Html.MJLabelFor( m => m.Weight, true )</td><td>@Html.TextBoxFor( m => m.Weight )</td>
		</tr>
        <tr>
		<td>@Html.MJLabelFor( m => m.Quantity, true )</td><td>@Html.TextBoxFor( m => m.Quantity, new { @readonly = "readonly" } )</td>
		</tr>
		<tr>
		<td>@Html.MJLabelFor( m => m.Status, true )</td><td id="statusDisplay">@Html.DisplayFor( m => m.Status )</td>
		</tr>
		<tr class="statusDateRow">
		<td>@Html.MJLabelFor( m => m.StatusDate, true )</td><td>@Html.TextBoxFor( m => m.StatusDate )</td>
		</tr>
        <tr>
		<td>@Html.MJLabelFor( m => m.Price, true )</td><td>$@Html.TextBoxFor( m => m.Price )</td>
		</tr>
        <tr>
		<td>@Html.MJLabelFor( m => m.Shipping, true )</td><td>$@Html.TextBoxFor( m => m.Shipping )</td>
		</tr>
		<tr>
		<td>@Html.MJLabelFor( m => m.ImageFileName, true )</td><td>@if( Model.ImageFileName != null )
															 { @Html.HiddenFor( m => m.ImageFileName ) <img class="img_size_thumb" src="/Images/@Model.ImageFileName" /> }<input type="file" id="CollateralImage" name="CollateralImage" accept=".jpg,.png,.gif,.bmp" /></td>
		</tr>
        <tr>
		<td>@Html.MJLabelFor( m => m.IsActive, false )</td><td>@Html.CheckBoxFor( m => m.IsActive )</td>
		</tr>
		
		</table>
@Html.ValidationSummary()
        <input type="submit" class="btn_type1" value="Save Changes" id="submitBtn" />
	}
