@model PDWModels.Collateral.NewOrderInformation
@{
	ViewBag.Title = "Edit Collateral Order";
	ViewBag.CurrentPage = "Database";
	ViewBag.CurrentSubPage = "Collateral";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}
@using ProductDataWarehouse.Models
@using ProductDataWarehouse.Controllers

    <script type="text/javascript">
    	var fileCount = 1;
    	$(document).ready(function () {
			@if( Model.OrderDate.HasValue )
   {
			<text>
                $('#orderDate').text(getLocalDate('@Model.OrderDate.Value.ToString()'));
			</text>
   }

    		$.data($('#theForm')[0], 'validator').settings.ignore = ':hidden';
    		$.validator.addMethod(
					"atLeastOneItem",
					function (value, element, regexp) {
						var itemCount = 0;
						$('.quantityInput').each(function () {
							itemCount += $(this).val();
						});
						return (itemCount > 0);
					},
					"Please add at least one item to your order."
				);
			$.validator.addMethod(
					"atLeastShippedQuantity",
					function(value, element, regexp) {
						return parseInt($(element).val()) >= parseInt($(element).data('shipped'));
					},
					"Please select a value greater than the shipped amount."
				);
    		$.validator.addMethod(
					"regex",
					function (value, element, regexp) {
						var re = new RegExp(regexp);
						return this.optional(element) || re.test(value);
					},
					"Please check your input."
				);

    		$('.quantityInput').last().rules("add", { atLeastOneItem: true, messages: { number: 'Please add at least one item to your order.'} });
    		$('.quantityInput').rules("add", { atLeastShippedQuantity: true, messages: { number: 'Please select a value greater than the shipped amount.'} });
    		$("#ShippingZip").rules("add", { regex: "^\\d{5}(-\\d{4})?$", messages: { regex: "Zip Code must be in the format ##### or #####-####."} });
    		$("#ShippingPhoneNumber").rules("add", { regex: "^[2-9]\\d{2}-\\d{3}-\\d{4}$", messages: { regex: "Phone Number must be in the format ###-###-####."} });
    		$("#ShippingEmailAddress").rules("add", { regex: "^[A-Za-z0-9](([_\\.\\-\\+]?[a-zA-Z0-9]+)*)@@([A-Za-z0-9]+)(([\\.\\-]?[a-zA-Z0-9]+)*)\\.([A-Za-z]{2,})$", messages: { regex: "Email must be a valid Email Address."} });
    		$('#ShippingFedexAccount').rules("add", { required: true, messages: { required: "Fedex Account Number is required."} });

    		$('.cancelBtn').click(function (e) {
    			window.location.href = '@Url.Action( "Orders" )';
    		});

    		changeShippingType();
    		$('#ShippingType').change(function (e) {
    			changeShippingType();
    		});

    		$('#ShippingAddressType').change(function (e) {
    			switch ($(this).val()) {
    				case '0':
    					setCompanyDetails(false);
    					break;
    				case '1':
    					$('#ShippingCompanyName').removeAttr('readonly').val(null);
    					$('#ShippingAttn').removeAttr('readonly').val(null);
    					$('#ShippingAddress1').removeAttr('readonly').val(null);
    					$('#ShippingAddress2').removeAttr('readonly').val(null);
    					$('#ShippingCity').removeAttr('readonly').val(null);
    					$('#ShippingState').val(null);
    					$('#ShippingState option:not(:selected)').removeAttr('disabled');
    					$('#ShippingZip').removeAttr('readonly').val(null);
    					$('#ShippingPhoneNumber').removeAttr('readonly').val(null);
    					$('#ShippingEmailAddress').removeAttr('readonly').val(null);
    					break;
    			}
    		});

			setCompanyDetails(true);
    	});

    	function changeShippingType() {
    		switch ($('#ShippingType').val()) {
    			case '@PDWModels.Collateral.NewOrderInformation.STGround':
    				$('.fedexAccount').hide();
    				break;
    			case '@PDWModels.Collateral.NewOrderInformation.ST2DayFedex':
    				$('.fedexAccount').show();
    				break;
    			case '@PDWModels.Collateral.NewOrderInformation.STOvernightFedex':
    				$('.fedexAccount').show();
    				break;
    			case '@PDWModels.Collateral.NewOrderInformation.STStdOvernightFedex':
    				$('.fedexAccount').show();
    				break;

    		}
    	}

    	function setCompanyDetails(bInit) {
			if ($('#ShippingAddressType').val() == '0') {
    			var officialUserID = null, officialCompanyID = null;

    			switch ('@Model.ShippingParty') {
    				case '@PDWModels.Collateral.NewOrderInformation.RPPaoliMember':
    					officialUserID = @(Model.SPPaoliMemberID.HasValue ? Model.SPPaoliMemberID.ToString() : "null");
    					break;
    				case '@PDWModels.Collateral.NewOrderInformation.RPPaoliRepresentative':
    					officialUserID = @(Model.SPPaoliRepGroupMemberID.HasValue ? Model.SPPaoliRepGroupMemberID.ToString() : "null");
    					officialCompanyID = @(Model.SPPaoliRepGroupID.HasValue ? Model.SPPaoliRepGroupID.ToString() : "null");
    					break;
    				case '@PDWModels.Collateral.NewOrderInformation.RPDealer':
    					officialUserID = @(Model.SPDealerMemberID.HasValue ? Model.SPDealerMemberID.ToString() : "null");
    					officialCompanyID = @(Model.SPDealerID.HasValue ? Model.SPDealerID.ToString() : "null");
						break;
    			}
   				if (officialCompanyID != null || officialUserID != null) {
    				$.ajax({
    					dataType: 'json',
    					type: 'GET',
    					url: '/Company/GetShippingAddress',
    					data: { companyId: officialCompanyID, userId: officialUserID },
    					success: function (data, textStatus, jqXHR) {
    						$('#ShippingCompanyName').attr('readonly', 'readonly').val(data.Name);
    						$('#ShippingAttn').attr('readonly', 'readonly').val(data.ContactAttn);
    						$('#ShippingAddress1').attr('readonly', 'readonly').val(data.Address1);
    						$('#ShippingAddress2').attr('readonly', 'readonly').val(data.Address2);
    						$('#ShippingCity').attr('readonly', 'readonly').val(data.City);
    						$('#ShippingState').val(data.State);
    						$('#ShippingState option:not(:selected)').attr('disabled', true);
    						$('#ShippingZip').attr('readonly', 'readonly').val(data.Zip);
    						$('#ShippingPhoneNumber').attr('readonly', 'readonly').val(data.Phone);
    						$('#ShippingEmailAddress').attr('readonly', 'readonly').val(data.ContactEmail);

    					},
    					error: function (jqXHR, textStatus, errorThrown) {
    						alert('Error getting Company Address:' + errorThrown)
    					}
    				});

					return;
				}

    			$('#ShippingAddressType option[value="0"]').attr('disabled', true);
    			$('#ShippingAddressType').val('1');
			}

    		$('#ShippingCompanyName').removeAttr('readonly');
    		$('#ShippingAttn').removeAttr('readonly');
    		$('#ShippingAddress1').removeAttr('readonly');
    		$('#ShippingAddress2').removeAttr('readonly');
    		$('#ShippingCity').removeAttr('readonly');
    		$('#ShippingState');
    		$('#ShippingState option:not(:selected)').removeAttr('disabled');
    		$('#ShippingZip').removeAttr('readonly');
    		$('#ShippingPhoneNumber').removeAttr('readonly');
    		$('#ShippingEmailAddress').removeAttr('readonly');

			if( !bInit ) {
				$('.theseAreTheShippingFields input[type="text"]').val(null);
				$('.theseAreTheShippingFields select').val(null);
			}
    	}

	</script>

    @using( Html.BeginForm( "EditOrder", "Collateral", FormMethod.Post, new { id = "theForm", name = "theForm", enctype = "multipart/form-data" } ) )
	{
		@Html.AntiForgeryToken()
		<div>
		<div class="left">
			<h2>Edit Collateral Order - @Model.OrderID</h2>
		</div>
		<div class="right">
		@Html.MJLabelFor( m => m.OrderDate, true ) <span id="orderDate"></span>
		</div>
		<div class="clear"></div>
		</div>
		@Html.HiddenFor( m => m.OrderID )
		<div class="activeSection requestPanel">
			<h3>Who's Requesting</h3>
			<table cellpadding="0" cellspacing="0" class="dataLayout">
				<tr>
					<td>@Html.MJLabelFor( m => m.RequestingParty, false )</td><td>@PDWModels.Collateral.NewOrderInformation.RequestingParties[Model.RequestingParty]</td>
				</tr>
				<tr>
					<td>@Html.MJLabelFor( m => m.RequestingPartyName, true )</td><td>@Html.DisplayFor( m => m.RequestingPartyName )</td>
				</tr>
				<tr>
				<td>&nbsp;</td>
				</tr>
				<tr>
					<td>@Html.MJLabelFor( m => m.ShippingParty, false )</td><td>@PDWModels.Collateral.NewOrderInformation.RequestingParties[Model.ShippingParty]</td>
				</tr>
				<tr>
					<td>@Html.MJLabelFor( m => m.ShippingPartyName, true )</td><td>@Html.DisplayFor( m => m.ShippingPartyName )</td>
				</tr>
			</table>
		</div>
	
		<div class="requestPanel">
			<h3>Order Details</h3>
			<table cellpadding="0" cellspacing="0" class="dataLayout rowHeight30" id="remainingItemTable">
				<thead>
					<tr class="fwb">
						<td>Item</td><td class="tac">Quantity</td>
					</tr>
				</thead>
				<tbody>
				@for( int i = 0; i < Model.OrderDetails.Count; i++ )
	{
		@Html.HiddenFor( m => m.OrderDetails[i].CollateralID )
					<tr>
						<td class="colName">@Html.DisplayFor( m => m.OrderDetails[i].Name )</td>
						<td class="tac dataInfoThin">@Html.TextBoxFor( m => m.OrderDetails[i].Quantity, new { @class = "quantityInput", data_shipped = Model.OrderDetails[i].ShippedQuantity } )</td>
					</tr>
	}
				</tbody>
			</table>
		</div>

		<div class="requestPanel">
			<h3>Shipping Information</h3>
			<table cellpadding="0" cellspacing="0" class="dataLayout">
				<tr>
					<td>@Html.LabelFor( m => m.ShippingType )</td><td>@Html.DropDownListFor( m => m.ShippingType, PDWModels.Collateral.NewOrderInformation.ShippingTypes.Select( st => new SelectListItem() { Text = st.Value, Value = st.Key.ToString() } ), new { @style = "width:320px" } )</td>
				</tr>
				<tr class="fedexAccount">
					<td>@Html.LabelFor( m => m.ShippingFedexAccount )</td><td>@Html.TextBoxFor( m => m.ShippingFedexAccount )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingAddressType )</td><td>@Html.DropDownListFor( m => m.ShippingAddressType, new List<SelectListItem>() { 
															 new SelectListItem() { Text = "Current Address on File", Value = "0" },
															 new SelectListItem() { Text = "New Address", Value = "1" }
														 } )</td>
				</tr>
			</table>
			<table cellpadding="0" cellspacing="0" class="dataLayout theseAreTheShippingFields">
				<tr>
					<td>@Html.LabelFor( m => m.ShippingAttn )</td><td>@Html.TextBoxFor( m => m.ShippingAttn )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingCompanyName )</td><td>@Html.TextBoxFor( m => m.ShippingCompanyName )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingAddress1 )</td><td>@Html.TextBoxFor( m => m.ShippingAddress1 )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingAddress2 )</td><td>@Html.TextBoxFor( m => m.ShippingAddress2 )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingCity )</td><td>@Html.TextBoxFor( m => m.ShippingCity )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingState )</td><td>@Html.DropDownListFor( m => m.ShippingState, UserController.GetStateDDList() )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingZip )</td><td>@Html.TextBoxFor( m => m.ShippingZip )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingPhoneNumber )</td><td>@Html.TextBoxFor( m => m.ShippingPhoneNumber )</td>
				</tr>
				<tr>
					<td>@Html.LabelFor( m => m.ShippingEmailAddress )</td><td>@Html.TextBoxFor( m => m.ShippingEmailAddress )</td>
				</tr>
			</table>
		</div>
		<hr />
@Html.ValidationSummary()
		<div>
        <input type="submit" class="btn_type1" value="Save Order" id="submitBtn" />
		<input type="button" class="btn_type1 cancelBtn" value="Cancel Changes" />
		</div>
	}