@{
    ViewBag.Title = "Collateral";
	ViewBag.CurrentPage = "Database";
	ViewBag.CurrentSubPage = "Collateral";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}

<h2>Collateral List</h2>

<a href="@Url.Action( "Add", "Collateral" )">Add New</a> |
<a href="@Url.Action( "AddGroup", "Collateral" )">Add Bundle</a> |
<a href="@Url.Action( "AddShipment", "Collateral" )">Add Shipment</a><br />
Collateral Type: @Html.DropDownList( "CollateralType", ProductDataWarehouse.Controllers.CollateralController.GetCollateralTypeFilterList() )
<div>
    <table id="collateralList">
    <thead></thead>
    <tfoot></tfoot>
    </table>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#CollateralType').change(loadCollateral);

		loadCollateral();
	});

	function deleteCollateral(dID) {
		if (confirm('Delete Collateral?')) {
			$.ajax({
				dataType: 'json',
				type: 'GET',
				url: '/Collateral/Delete',
				data: { id: dID },
				success: function (data, textStatus, jqXHR) {
					loadCollateral();
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert('Error deleting this Collateral:' + errorThrown)
				}
			});
		}
	}

	var oTable = null;
	function loadCollateral() {
		if (oTable != null) {
			oTable.fnDraw();
			return;
		}

		oTable = $('#collateralList').dataTable({
			"bServerSide": true,
			"bAutoWidth": false,
			"bFilter": true,
			"bLengthChange": false, // don't show dropdown for #items per page
			"bPaginate": true,
			"bInfo": true,
			"sAjaxSource": '@Url.Action( "FullCollateralList" )',
			"fnServerParams": function (aoData) {
				aoData.push({ "name": "collateralType", "value": $('#CollateralType').val() });
			},
			"iDisplayLength": 100,
			"fnServerData": function (sSource, aoData, fnCallback) {
				$.ajax({
					dataType: 'json',
					type: "POST",
					url: sSource,
					data: aoData,
					success: function (data, textStatus, jqXHR) {
						fnCallback(data, textStatus, jqXHR);
					},
					error: function (jqXHR, textStatus, errorThrown) { alert('Error getting list of Collateral:' + errorThrown) }
				})
			},
			"bProcessing": false, // don't want to use the default progress indicator at this time
			"aaSorting": [[0, "asc"]],
			"aoColumnDefs": [
                    { "sName": "Name", "sTitle": "Name", "aTargets": [0], "mDataProp": "Name", "sWidth": "25%" },
                    { "sName": "CollateralType", "sTitle": "Type", "aTargets": [1], "mDataProp": "CollateralType", "sWidth": "25%" },
                    { "sName": "Status", "sTitle": "Status", "aTargets": [2], "mDataProp": "Status", "sWidth": "20%" },
                    { "sName": "Quantity", "sTitle": "Quantity", "aTargets": [3], "mDataProp": "Quantity", "sWidth": "15%" },
                    { "sName": "EditButtons",
                    	"aTargets": [4],
                    	"bSearchable": false,
                    	"bSortable": false,
                    	"mDataProp": "EditButtons", "sWidth": "15%",
                    	"fnRender": function (oObj) {
                    		var s = '';
                    		if (oObj.aData["IsGroup"]) {
                    			s += '<a href=\"@Url.Action( "EditGroup", "Collateral" )/' + oObj.aData["CollateralID"] + '">Edit</a>';
                    		} else {
                    			s += '<a href=\"@Url.Action( "Edit", "Collateral" )/' + oObj.aData["CollateralID"] + '">Edit</a>';
                    		}
//                    		s += '&nbsp;|&nbsp;';
//                  		s += '<a href=\"#\" onclick="deleteCollateral(' + oObj.aData["CollateralID"] + ');">Delete</a>';
                    		return s;
                    	}
                    }
                ]
		});
	}

</script>