@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function getPDWUrl() {
        var hostName = window.location.hostname.toLowerCase();

        if (hostName.indexOf('paoli-test01') >= 0)
            return 'http://paoli-test01';
        if (hostName.indexOf('jamesburnes') >= 0)
            return 'http://paoli.jamesburnes.com';
        if (hostName.indexOf('matt3400') >= 0)
            return 'http://matt3400.wdd.local:8787';
        if (hostName.indexOf('localhost') >= 0)
            return 'http://matt3400.wdd.local:8787';
        return 'http://www.paoli.com';
    }

    function clickCMSLink() {
        window.open(getPDWUrl() + '/umbraco/umbraco.aspx');
    }

    function clickSiteLink() {
        window.open(getPDWUrl());
    }

    $(document).ready(function () {
        $('#cmsLink').click(clickCMSLink);
        $('#siteLink').click(clickSiteLink);
    });
</script>
<div id="page_navigation">
	<div class="wrapper">
		<a href="/" id="logo"><img src="@Url.Content( "~/Content/images/paoli_logo.png" )"></a>
        <ul id="nav">
			@if( HttpContext.Current.User.Identity.IsAuthenticated )
   {
            <li class="@(ViewBag.CurrentPage == "Import" ? "current_page" : "")"><a href="@Url.Action( "Index" )">PDW Import</a></li>
            <li class="@(ViewBag.CurrentPage == "Images" ? "current_page" : "")"><a href="@Url.Action( "Images" )">Image Engine</a></li>
            <li class="@(ViewBag.CurrentPage == "Collateral" ? "current_page" : "")"><a href="@Url.Action( "Collateral" )">Collateral</a></li>
            <li class="@(ViewBag.CurrentPage == "Dealers" ? "current_page" : "")"><a href="@Url.Action( "ManageDealers" )">Dealers</a></li>
   }
            <li><a href="javascript:void(0);" id="cmsLink">Login to CMS</a></li>
            <li><a href="javascript:void(0);" id="siteLink">View Site</a></li>
        </ul>
	</div>
	@if( ViewBag.CurrentPage == "Dealers" )
 {
	<div id="sub_nav" class="stuckontop">
		<div class="wrapper p20">
			<ul class="nav_type_3">
				<li class="@(ViewBag.CurrentDealerPage == "Dealers" ? "on_focus" : "")"><a href="@Url.Action( "ManageDealers" )">Dealers</a></li>
				<li class="@(ViewBag.CurrentDealerPage == "Videos" ? "on_focus" : "")"><a href="@Url.Action( "ManageVideos" )">Video Links</a></li>
				<li class="@(ViewBag.CurrentDealerPage == "Pages" ? "on_focus" : "")"><a href="@Url.Action( "ManagePages" )">Pages</a></li>
			</ul>
			<p class="clear"></p>
		</div>
	</div>
 }
</div>
<p style="padding-top:@(ViewBag.CurrentPage == "Dealers" ? "145" : "120")px;"></p>
<div class="wrapper p20">
@RenderBody()
</div>