	<a href="#editDealerUserContactInfo" id="mainEditUserContactBtn"></a>
	<div id="editDealerUserContactInfo" class="needRowPadding">
	<div class="main_inner2_btm">
    @using( Html.BeginForm( "DealershipContact", "User", FormMethod.Post, new { id = "theContactUserForm", name = "theContactUserForm", enctype = "multipart/form-data" } ) )
	{
		@Html.AntiForgeryToken()
		@Html.Hidden( "UserID" )
		@Html.Hidden( "UserCompanyID" )
    	<h2 class="bold">Add Dealership User</h2>
		<div class="main_inner2_btm_mid_myacct">
			<ul>
        		<li class="addOnly">
            		<div class="colmn1">Email Address@(Html.ValidationMessage( "EmailAddress" ))</div>
					<div class="colmn3single">@Html.TextBox( "EmailAddress" )</div>
				</li>
        		<li>
            		<div class="colmn1">First Name@(Html.ValidationMessage( "FirstName" ))</div>
					<div class="colmn3single">@Html.TextBox( "FirstName" )</div>
				</li>
        		<li>
            		<div class="colmn1">Last Name@(Html.ValidationMessage( "LastName" ))</div>
					<div class="colmn3single">@Html.TextBox( "LastName" )</div>
				</li>
        		<li>
            		<div class="colmn1">Title@(Html.ValidationMessage( "Title" ))</div>
					<div class="colmn3single">@Html.TextBox( "Title" )</div>
				</li>
        		<li class="addOnly">
            		<div class="colmn1">Account Type@(Html.ValidationMessage( "AccountType" ))</div>
					<div class="colmn3single">@Html.DropDownList( "AccountType", ProductDataWarehouse.Controllers.UserController.GetDealerUserRoleDDList() )</div>
				</li>
			</ul>
		</div>	
		<div class="clear"></div>
		<div class="main_inner2_btm_2Col_Col">
    		<h4 class="bold">Business Address</h4>
			<ul>
        		<li>
            		<div class="colmn1">Address 1@(Html.ValidationMessage( "BusinessAddress1" ))</div>
					<div class="colmn3single">@Html.TextBox( "BusinessAddress1" )</div>
				</li>
        		<li>
            		<div class="colmn1">Address 2@(Html.ValidationMessage( "BusinessAddress2" ))</div>
					<div class="colmn3single">@Html.TextBox( "BusinessAddress2" )</div>
				</li>
        		<li>
            		<div class="colmn1">City@(Html.ValidationMessage( "BusinessCity" ))</div>
					<div class="colmn3single">@Html.TextBox( "BusinessCity" )</div>
				</li>
				<li>
            		<div class="colmn1">State@(Html.ValidationMessage( "BusinessState" ))</div>
					<div class="colmn3single"><div class="styled-select">@Html.DropDownList( "BusinessState", ProductDataWarehouse.Controllers.UserController.GetStateDDList() )</div></div>
				</li>
				<li>
            		<div class="colmn1">Zip@(Html.ValidationMessage( "BusinessZip" ))</div>
					<div class="colmn3single">@Html.TextBox( "BusinessZip" )</div>
				</li>
				<li>
            		<div class="colmn1">Business Phone@(Html.ValidationMessage( "BusinessPhone" ))</div>
					<div class="colmn3single">@Html.TextBox( "BusinessPhone" )</div>
				</li>
				<li>
            		<div class="colmn1">Extension@(Html.ValidationMessage( "Extension" ))</div>
					<div class="colmn3single">@Html.TextBox( "Extension", null, new { @class = "ext" } )</div>
				</li>
				<li>
            		<div class="colmn1">Work Mobile@(Html.ValidationMessage( "CellPhone" ))</div>
					<div class="colmn3single">@Html.TextBox( "CellPhone" )</div>
				</li>
				<li>
            		<div class="colmn1">Fax@(Html.ValidationMessage( "FaxNumber" ))</div>
					<div class="colmn3single">@Html.TextBox( "FaxNumber" )</div>
				</li>                       
			</ul>
		</div> 
		<div class="main_inner2_btm_2Col_Col">
    		<h4 class="bold">Home Address</h4>
	<ul>
        		<li>
            		<div class="colmn1">Address 1@(Html.ValidationMessage( "HomeAddress1" ))</div>
					<div class="colmn3single">@Html.TextBox( "HomeAddress1" )</div>
				</li>
        		<li>
            		<div class="colmn1">Address 2@(Html.ValidationMessage( "HomeAddress2" ))</div>
					<div class="colmn3single">@Html.TextBox( "HomeAddress2" )</div>
				</li>
        		<li>
            		<div class="colmn1">City@(Html.ValidationMessage( "HomeCity" ))</div>
					<div class="colmn3single">@Html.TextBox( "HomeCity" )</div>
				</li>
				<li>
            		<div class="colmn1">State@(Html.ValidationMessage( "HomeState" ))</div>
					<div class="colmn3single"><div class="styled-select">@Html.DropDownList( "HomeState", ProductDataWarehouse.Controllers.UserController.GetStateDDList() )</div></div>
				</li>
				<li>
            		<div class="colmn1">Zip@(Html.ValidationMessage( "HomeZip" ))</div>
					<div class="colmn3single">@Html.TextBox( "HomeZip" )</div>
				</li>
				<li>
            		<div class="colmn1">Home Phone@(Html.ValidationMessage( "HomePhone" ))</div>
					<div class="colmn3single">@Html.TextBox( "HomePhone" )</div>
				</li>
				<li>
            		<div class="colmn1">Personal Mobile@(Html.ValidationMessage( "PersonalCellPhone" ))</div>
					<div class="colmn3single">@Html.TextBox( "PersonalCellPhone" )</div>
				</li>                  
			</ul>        
		</div> 
		<div class="clear"></div>
		<span class="btn7 cancelUserContactBtn">CANCEL</span> <span class="btn8 submitUserContactBtn">SAVE</span> 
	}
	</div>
	</div>

<script type="text/javascript">
	$(document).ready(function () {

		$.data($('#theContactUserForm')[0], 'validator').settings.ignore = '.noValidate';
		$('#EmailAddress').rules("add", { required: true, messages: { required: "Email Address is required."} });
		$("#EmailAddress").rules("add", { regex: "^[A-Za-z0-9](([_\\.\\-\\+]?[a-zA-Z0-9]+)*)@@([A-Za-z0-9]+)(([\\.\\-]?[a-zA-Z0-9]+)*)\\.([A-Za-z]{2,})$", messages: { regex: "Email Address must be a valid Email Address."} });

		$('#mainEditUserContactBtn').fancybox({
			'autoDimensions': false,
			'width': 1020,
			'height': 800,
			'padding': 20,
			'margin': 0,
			'scrolling': 'auto',
			'titleShow': false
		});

		$('.submitUserContactBtn').click(function (e) {
			$('#UserCompanyID').val(getNewUserCompanyID());

			if ($('#theContactUserForm').valid()) {
				makeAjaxCall('/User/DealershipContact', $('#theContactUserForm').serialize(),
					function (data) {
						if (data.success) {
							if ($('#UserID').val() != 0) {
								alert('Thank you. Your updates have been applied to the user account.');
							} else {
								alert('Thank you. We have added the user you requested to the system. Once the account is verified, they will be allowed to login and take advantage of all that My.Paoli.com has to offer.');
							}
							$('#theContactUserForm')[0].reset();
							$('#UserID').val('0');
							$.fancybox.close();

							if (addEditUserCallback != null) {
								addEditUserCallback();
							}
						} else {
							alert('We are unable to process your request at this time.');
						}
					}, function () {
						alert('We are unable to process your request at this time.');
					});
			}
		});

		$('.cancelUserContactBtn').on('click', function () {
			$.fancybox.close();
		});
	});
</script>