@model PDWModels.Articles.ArticleInformation
@{
	ViewBag.Title = "Edit Article";
	ViewBag.CurrentPage = "Database";
	ViewBag.CurrentSubPage = "Articles";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}
@using ProductDataWarehouse.Models
@using ProductDataWarehouse.Controllers


    <script type="text/javascript">
    	$(document).ready(function () {
    		$('#PubDate').datepicker(
            {
            	dateFormat: "mm/dd/yy",
            	changeMonth: true,
            	changeYear: true
            });

            $('#previewBtn').click(function () {
            	$.ajax({
            		dataType: 'json',
            		type: 'POST',
            		url: '/Article/SavePreview',
            		data: { 
						ContentBlock: $('#ContentBlock').val(),
						BigHeadline: $('#BigHeadline').val(),
						BigImageURL: $('#BigImageURL').val(),
						PubDate: $('#PubDate').val(),
						AuthorID: $('#AuthorID').val()
					},
            		success: function (data, textStatus, jqXHR) {
            			window.open('@Url.Action( "Preview" )');
            		},
            		error: function (jqXHR, textStatus, errorThrown) {
            			alert('Error previewing this Article:' + errorThrown)
            		}
            	});

            });
        });

    </script>    

    <h2>Edit Article</h2>

    @using( Html.BeginForm( "Edit", "Article", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor( a => a.ArticleID )
		<table cellpadding="0" cellspacing="0" class="dataLayout">
        <tr>
		<td>Title</td><td>@Html.TextBoxFor( m => m.Title )</td>
		</tr>
		<tr>
		<td>Author Name</td><td>@Html.DropDownListFor( m => m.AuthorID, UserController.GetPaoliMemberDDList( true ) )</td>
		<td>Publication Date</td><td>@Html.EditorFor( m => m.PubDate )</td>
		</tr>
		<tr>
		<td colspan="2"><h3>Big Article Information</h3></td>
		<td colspan="2"><h3>Small Article Information</h3></td>
		</tr>
        <tr>
		<td>Headline</td><td>@Html.TextBoxFor( m => m.BigHeadline )</td>
		<td>Headline</td><td>@Html.TextBoxFor( m => m.SmallHeadline )</td>
		</tr>
        <tr>
		<td>Sub-Headline</td><td>@Html.TextBoxFor( m => m.BigText )</td>
		<td>Sub-Headline</td><td>@Html.TextBoxFor( m => m.SmallText )</td>
		</tr>
        <tr>
		<td>Image URL</td><td>@Html.TextBoxFor( m => m.BigImageURL )</td>
		<td>Image URL</td><td>@Html.TextBoxFor( m => m.SmallImageURL )</td>
		</tr>
        <tr>
		<td colspan="4"><h3>Content Block</h3></td>
		</tr>
		<tr>
		<td colspan="4">@Html.TextAreaFor( m => m.ContentBlock, new { style = "width:100%", rows = "30" } )</td>
		</tr>
		</table>
@Html.ValidationSummary()
        <input type="submit" class="btn_type1" value="Update" id="submitBtn" />
        <input type="button" class="btn_type1" value="Preview" id="previewBtn" />
	}
