@model IEnumerable<PDWModels.Articles.ArticleSummary>
@{
    ViewBag.Title = "ViewAll";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

<div class="container">
	<div class="main_inner1">
    	<div class="">
			<div class="flt_Lt scoop_h1">@ViewBag.PageTitle</div>
			<div class="flt_Rt articleSearch">
			@using( Html.BeginForm() )
	  {
	<fieldset><input class="valid" placeholder="Keyword Filter / Search" id="search" name="search" type="text" value="@ViewBag.SearchText"/><input id="btnDoSearch" type="submit"/></fieldset>
		  }
			</div>
		</div>

@foreach( var article in Model )
{
		<div class="scoop_item">
			<div class="scoop_itemImage"><a href="@Url.Action( "View", new { id = article.ArticleID } )"><img src="@article.ImgURL" width="" height="" alt=""/></a></div>
			<div class="scoop_itemContent">
				<div class="scoop_itemHeadline"><a href="@Url.Action( "View", new { id = article.ArticleID } )">@article.Title</a></div>
				<div class="scoop_itemAbstract">@article.Description</div>
				<div class="scoop_itemDateline">Written by @article.Author on @article.PublishDate</div>
			</div>
		</div>
}
		<div class="clear_0"></div>
	</div>
</div>