@model PDWModels.Articles.ArticleViewDetails
@{
	ViewBag.Title = Model.Headline;
	Layout = "~/Views/Shared/NewLayout.cshtml";
}

<div class="container">
	<div class="main_inner1">
		<div class="scoop_left">
			<div class="scoop_heroImage"><img src="@Model.ImageURL" width="600" height="337" alt=""/></div>
			<div class="scoop_h1">@Model.Headline</div>
			<div class="scoop_date">Published: @Model.PublishDate</div>
			<div class="scoop_byline">Written By: @Model.AuthorName</div>
@Html.Raw( Model.Content )
			<div class="scoop_footnote">
			@if( Model.AuthorImage != null )
   {
				<div class="scoop_author_avatar"><img src="/images/@Model.AuthorImage" width="64" height="64" alt=""/></div>
   }
				<div class="scoop_author">
				@Model.AuthorCredit
				</div>
			</div>
           
		</div>
		<div class="scoop_right">
			<div class="scoop_recentTitle">Recent Articles</div>
			<ul>
			@foreach( var recentArticle in Model.RecentArticles )
   {
				<li><a href="@Url.Action( "View", new { id = recentArticle.ArticleID } )">@recentArticle.Headline</a></li>
   }
			</ul>
		</div>

		<div class="clear_0"></div>
	</div>
</div>