@model int?
@using PDWInfrastructure
@{
	var CurrentUser = PaoliWebUser.CurrentUser;
	var outputType = 0;
	var articleList = ProductDataWarehouse.Controllers.HomeController.GetHomePageContent( Model, out outputType );
}
		@if( articleList.Count > 0 )
  {
	  if( CurrentUser.IsPaoliUser )
	  {
		  <p style="text-align:right">
		  View: 
			<select onchange="reloadArticles()" id="articleSelection">
				<option value="@(PDWModels.Articles.ArticleInformation.ArticleTypes.Scoop)" @if( outputType == PDWModels.Articles.ArticleInformation.ArticleTypes.Scoop) { <text>selected="selected"</text> } >The Scoop</option>
				<option value="@(PDWModels.Articles.ArticleInformation.ArticleTypes.Internal)" @if( outputType == PDWModels.Articles.ArticleInformation.ArticleTypes.Internal) { <text>selected="selected"</text> } >Member News</option>
				<option value="@(PDWModels.Articles.ArticleInformation.ArticleTypes.NewsAndUpdates)" @if( outputType == PDWModels.Articles.ArticleInformation.ArticleTypes.NewsAndUpdates) { <text>selected="selected"</text> } >Dealer Updates</option>
			</select>
		  </p>
	  }
			<a href="@Url.Action( "View", "Article", new { id = articleList[0].ArticleID } )">
				<img src="@articleList[0].ImageURL" alt="img" width="600"/>
			</a>                     
			<a href="@Url.Action( "View", "Article", new { id = articleList[0].ArticleID } )">
				<h3>@articleList[0].Headline</h3>
			</a>                               
			<p>@articleList[0].Subheadline</p>                                 
  }
		@for( int row = 0; row < articleList.Count / 2; row++ )
  {
			<div class="main_lt_btm">
				@for( int col = ( row * 2 ) + 1; col < articleList.Count && col < ( row * 2 ) + 3; col++ )
	{
					<div class="main_lt_btm_lt @if( col % 2 == 0 )
								{ <text>last</text> }">
						<a href="@Url.Action( "View", "Article", new { id = articleList[col].ArticleID } )" target="_blank">
							<img src="@articleList[col].ImageURL" alt="img" width="291"></a>
						<h3>
							<a href="@Url.Action( "View", "Article", new { id = articleList[col].ArticleID } )" target="_blank">@articleList[col].Headline</a></h3>
						<p>@articleList[col].Subheadline</p>
					</div>                                      
	}
			</div>
			<i class="clear_0"></i>                                 
  }
		<div class="main_lt_btm">
			@switch( outputType )
   {
	   case PDWModels.Articles.ArticleInformation.ArticleTypes.Scoop:
				<a href="@Url.Action( "ViewAllScoop", "Article" )">view all</a>
		break;
	   case PDWModels.Articles.ArticleInformation.ArticleTypes.NewsAndUpdates:
				<a href="@Url.Action( "ViewAllNewsAndUpdates", "Article" )">view all</a>
		break;
	   case PDWModels.Articles.ArticleInformation.ArticleTypes.Internal:
				<a href="@Url.Action( "ViewAllInternal", "Article" )">view all</a>
		break;
   }
		</div>
