@model PDWModels.SpecRequests.TypicalMgmtInfo
@{
	ViewBag.Title = "Edit Typical";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ProductDataWarehouse.Models
@using ProductDataWarehouse.Controllers

<link href="@Url.Content( "~/Content/jquery.tagit.css" )" rel="stylesheet" type="text/css" />
<script src="@Url.Content( "~/Scripts/tag-it.js" )" type="text/javascript"></script>

@if( ViewBag.CloseFancyBox ?? false )
{
    <script type="text/javascript">
    	$(document).ready(function () {
    		parent.$.fancybox.close();
    		if (parent.loadSpecRequests) {
    			parent.loadSpecRequests();
    		}
    	});
    </script>
}
else
{
    <script type="text/javascript">
		var seriesList = [@Html.Raw( SpecRequestController.GetJustSeriesNameList() )];

    	$(document).ready(function () {
    		$('#SeriesList').tagit({
				availableTags: seriesList,
    			allowSpaces: true,
    			beforeTagAdded: function (event, ui) {
    				// do something special
					var isValid = false;
					$.each(seriesList, function(idx, i) {
						if (i.toLowerCase() == ui.tagLabel.toLowerCase()) {
							isValid = true;
						}
					});
					return isValid;
    			}
    		});
			/*
    		$('#FeaturedSeries').tagit({
				availableTags: seriesList,
    			allowSpaces: true,
				tagLimit: 1,
    			beforeTagAdded: function (event, ui) {
    				// do something special
					var isValid = false;
					$.each(seriesList, function(idx, i) {
						if (i.toLowerCase() == ui.tagLabel.toLowerCase()) {
							isValid = true;
						}
					});
					return isValid;
    			}
    		});
			*/
    		$('#Material').tagit({
    			allowSpaces: true,
    			autocomplete: ({
    				source: function (request, response) {
    					$.ajax({
    						url: '@Url.Action("GetTypeAheadTypicalOptionList", "PDW")',
    						data: { format: "json", attr: 'Material', query: request.term },
    						dataType: 'json',
    						type: 'GET',
    						success: function (data) {
    							response($.map(data, function (item) {
    								return {
    									label: item,
    									value: item
    								}
    							}));
    						},
    						error: function (request, status, error) {
    							alert(error);
    						}
    					}
					)
    				},
    				minLength: 0
    			})
    		});

    		$('#Finish').tagit({
    			allowSpaces: true,
    			autocomplete: ({
    				source: function (request, response) {
    					$.ajax({
    						url: '@Url.Action("GetTypeAheadTypicalOptionList", "PDW")',
    						data: { format: "json", attr: 'Finish', query: request.term },
    						dataType: 'json',
    						type: 'GET',
    						success: function (data) {
    							response($.map(data, function (item) {
    								return {
    									label: item,
    									value: item
    								}
    							}));
    						},
    						error: function (request, status, error) {
    							alert(error);
    						}
    					}
					)
    				},
    				minLength: 0
    			})
    		});

    		$('#RenderingImage').autocomplete ({
    				source: function (request, response) {
    					$.ajax({
    						url: '@Url.Action("GetTypeaheadImageList", "PDW")',
    						data: { format: "json", query: request.term, max: 15 },
    						dataType: 'json',
    						type: 'GET',
    						success: function (data) {
    							response($.map(data, function (item) {
    								return {
    									label: item,
    									value: item
    								}
    							}));
    						},
    						error: function (request, status, error) {
    							alert(error);
    						}
    					}
					)
    				},
    				minLength: 2
    			});
@{var currentImages = "'" + string.Join("','", Model.AdditionalImages.Split(',')) + "'";}
			var returnedImages = [@Html.Raw(currentImages)];
    		$('#AdditionalImages').tagit({
    			allowSpaces: true,
    			beforeTagAdded: function (event, ui) {
    				// do something special
					var isValid = false;
					$.each(returnedImages, function(idx, i) {
						if (i.toLowerCase() == ui.tagLabel.toLowerCase()) {
							isValid = true;
							return false; // break the loop
						}
					});
					return isValid;
    			},
    			autocomplete: ({
    				source: function (request, response) {
    					$.ajax({
    						url: '@Url.Action( "GetTypeaheadImageList", "PDW" )',
    						data: { format: "json", query: request.term, max: 15 },
    						dataType: 'json',
    						type: 'GET',
    						success: function (data) {
								returnedImages = data;
    							response($.map(data, function (item) {
    								return {
    									label: item,
    									value: item
    								}
    							}));
    						},
    						error: function (request, status, error) {
    							alert(error);
								returnedImages = [];
    						}
    					}
					)
    				},
    				minLength: 2
    			})
    		});

    	});

    </script>    
}
    <h2>Edit Typical Finder - @Model.Name</h2>

    @using( Html.BeginForm( "EditTypical", "SpecRequest", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
	{
		<table cellpadding="0" cellspacing="0" class="dataLayout">
		@Html.HiddenFor( m => m.TypicalID )
		@Html.HiddenFor( m => m.RequestID )
		@Html.HiddenFor( m => m.Name )
		@Html.HiddenFor( m => m.IsPublished )
        <tr><td>@Html.MJLabelFor( m => m.FeaturedSeries, true )</td><td>@Html.DropDownListFor( m => m.FeaturedSeries, ImportController.GetSeriesDDList( true ) )</td><td>
			@Html.MJLabelFor( m => m.SeriesList, true )</td><td>@Html.TextBoxFor( m => m.SeriesList, new { style = "display:none" } )</td></tr>
        <tr><td>@Html.MJLabelFor( m => m.ListPrice, true )</td><td>@Html.TextBoxFor( m => m.ListPrice )</td><td>
			@Html.MJLabelFor( m => m.AvailableForIn2, true )</td><td>@Html.CheckBoxFor( m => m.AvailableForIn2 )</td></tr>
        <tr><td>@Html.MJLabelFor( m => m.Material, true )</td><td>@Html.TextBoxFor( m => m.Material, new { style = "display:none" } )</td><td>
			@Html.MJLabelFor( m => m.Finish, true )</td><td>@Html.TextBoxFor( m => m.Finish, new { style = "display:none" } )</td></tr>
        <tr><td>@Html.MJLabelFor( m => m.Footprint, true )</td><td>@Html.DropDownListFor( m => m.Footprint, SpecRequestController.GetFootprintDDList() )</td></tr>
		<tr><td>@Html.MJLabelFor( m => m.RenderingImage, true )</td><td>@Html.TextBoxFor( m => m.RenderingImage )</td><td>
			@Html.MJLabelFor( m => m.AdditionalImages, true )</td><td>@Html.TextBoxFor( m => m.AdditionalImages, new { style = "display:none" } )</td></tr>
		<tr><td>@Html.MJLabelFor( m => m.Notes, true )</td><td>@Html.TextAreaFor( m => m.Notes )</td></tr>
		<tr><td class="padr30 padl30" colspan="4"><hr /></td></tr>
		<tr><td>@Html.MJLabelFor( m => m.xlsFile, true )</td><td><input type="file" id="xlsFile" name="xlsFile" accept=".xls,.xlsx" /></td><td colspan="2"><label>@Html.DisplayFor( m => m.xlsFileName )</label></td></tr>
		<tr><td>@Html.MJLabelFor( m => m.sifFile, true )</td><td><input type="file" id="sifFile" name="sifFile" accept=".sif" /></td><td colspan="2"><label>@Html.DisplayFor( m => m.sifFileName )</label></td></tr>
		<tr><td>@Html.MJLabelFor( m => m.sp4File, true )</td><td><input type="file" id="sp4File" name="sp4File" accept=".sp4" /></td><td colspan="2"><label>@Html.DisplayFor( m => m.sp4FileName )</label></td></tr>
		<tr><td>@Html.MJLabelFor( m => m.pdfFile, true )</td><td><input type="file" id="pdfFile" name="pdfFile" accept=".pdf" /></td><td colspan="2"><label>@Html.DisplayFor( m => m.pdfFileName )</label></td></tr>
		<tr><td>@Html.MJLabelFor( m => m.dwgFile, true )</td><td><input type="file" id="dwgFile" name="dwgFile" accept=".dwg" /></td><td colspan="2"><label>@Html.DisplayFor( m => m.dwgFileName )</label></td></tr>
		</table>
@Html.ValidationSummary()
        <input type="submit" class="btn_type1" value="Update" id="submitBtn" name="typeOfSubmit" />
		if( !Model.IsPublished )
  {
        <input type="submit" class="btn_type1" value="Publish" id="publishBtn" name="typeOfSubmit" />
  }
  else
  {
        <input type="submit" class="btn_type1" value="Unpublish" id="unpublishBtn" name="typeOfSubmit" />
  }
	}
