@{
	ViewBag.Title = "Spec Requests";
	ViewBag.CurrentPage = "Database";
	ViewBag.CurrentSubPage = "Typicals";
	Layout = "~/Views/Shared/HeaderLayout.cshtml";
}

<h2>Spec Request List</h2>

<a href="@Url.Action( "AddRequest", "SpecRequest" )" id="addNewRequest">Add New</a><br />
@Html.CheckBox( "PendingOnly" )Show Only Pending Spec Requests<br />
@Html.CheckBox( "RecommendedOnly" )Show Only Recommended Spec Requests<br />
@Html.CheckBox( "NotYetAssigned" )Not Yet Assigned<br />
@Html.CheckBox( "AuditSpecOnly" )Spec Audit Checks<br />
@Html.CheckBox( "GSAOnly" )Show GSA Only<br />
Territory: @Html.DropDownList( "PaoliSalesRepGroupID", ProductDataWarehouse.Controllers.CompanyController.GetCompanyDDList( PDWInfrastructure.PaoliWebUser.PaoliCompanyType.PaoliRepGroup, includeTerritory: PDWInfrastructure.PaoliWebUser.CurrentUser.WantTerritoriesInDropDowns ) )<br />
<div>
    <table id="specRequestList">
    <thead></thead>
    <tfoot></tfoot>
    </table>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#PendingOnly').click(loadSpecRequests);
		$('#RecommendedOnly').click(loadSpecRequests);
		$('#NotYetAssigned').click(loadSpecRequests);
		$('#AuditSpecOnly').click(loadSpecRequests);
		$('#GSAOnly').click(loadSpecRequests);
		$('#PaoliSalesRepGroupID').change(loadSpecRequests);

		loadSpecRequests();
	});

	var oTable = null;
	function loadSpecRequests() {
		if (oTable != null) {
			oTable.fnDraw();
			return;
		}

		oTable = $('#specRequestList').dataTable({
			"bServerSide": true,
			"bAutoWidth": false,
			"bFilter": true,
			"bLengthChange": false, // don't show dropdown for #items per page
			"bPaginate": true,
			"bInfo": true,
			"sAjaxSource": '@Url.Action( "FullRequestList" )',
			"fnServerParams": function (aoData) {
				aoData.push({ "name": "pendingOnly", "value": $('#PendingOnly:checked').length > 0 });
				aoData.push({ "name": "recommendedOnly", "value": $('#RecommendedOnly:checked').length > 0 });
				aoData.push({ "name": "notYetAssigned", "value": $('#NotYetAssigned:checked').length > 0 });
				aoData.push({ "name": "auditSpecOnly", "value": $('#AuditSpecOnly:checked').length > 0 });
				aoData.push({ "name": "showGSAOnly", "value": $('#GSAOnly:checked').length > 0 });
				aoData.push({ "name": "paoliSalesRepGroupID", "value": $('#PaoliSalesRepGroupID').val() });
			},
			"iDisplayLength": 100,
			"oLanguage": {
				"sSearch": "Filter by Keyword:"
			},
			"fnServerData": function (sSource, aoData, fnCallback) {
				makeAjaxCall(sSource, aoData,
					function (data, textStatus, jqXHR) {
						fnCallback(data, textStatus, jqXHR);
					},
					function (jqXHR, textStatus, errorThrown) {
						alert('Error getting list of Requests:' + errorThrown)
					}
				);
			},
			"bProcessing": false, // don't want to use the default progress indicator at this time
			"aaSorting": [[0, "desc"]],
			"aoColumnDefs": [
					{ "sName": "EditButtons",
						"sTitle": "Name",
						"aTargets": [0],
						"mDataProp": "EditButtons", "sWidth": "8%",
						"fnRender": function (oObj) {
							if (oObj.aData["IsCanceled"] || oObj.aData["IsCompleted"]) {
								return '<a href=\"@Url.Action( "ViewRequest", "SpecRequest" )/' + oObj.aData["RequestID"] + '\">' + oObj.aData["Name"] + '</a>';
							}
							return '<a href=\"@Url.Action( "EditRequest", "SpecRequest" )/' + oObj.aData["RequestID"] + '\">' + oObj.aData["Name"] + '</a>';
						}
					},
                    { "sName": "Dealer", "sTitle": "Dealer", "aTargets": [1], "mDataProp": "Dealer", "sWidth": "17%" },
                    { "sName": "ProjectName", "sTitle": "Project Name", "aTargets": [2], "mDataProp": "ProjectName", "sWidth": "16%" },
                    { "sName": "SalesRepGroup", "sTitle": "Rep Group", "aTargets": [3], "mDataProp": "SalesRepGroup", "sWidth": "17%" },
                    { "sName": "SpecTeamMember", "sTitle": "Member", "aTargets": [4], "mDataProp": "SpecTeamMember", "sWidth": "10%" },
                    { "sName": "CreatedDate", "sTitle": "Created", "aTargets": [5], "mDataProp": "CreatedDate", "sWidth": "9%",
                    	"fnRender": function (oObj) {
                    		if (oObj.aData["CreatedDate"] != null) {
                    			var milli = oObj.aData["CreatedDate"].replace(/\/Date\((-?\d+)\)\//, '$1');
                    			return getLocalDate(parseInt(milli));
                    		}
                    		return '';
                    	}
                    },
                    { "sName": "Status",
                    	"aTargets": [6],
                    	"bSearchable": false,
                    	"bSortable": false,
                    	"mDataProp": "Status", "sTitle": "Status", "sWidth": "10%",
                    	"fnRender": function (oObj) {
                    		if (oObj.aData["IsCanceled"]) {
                    			return 'Canceled';
                    		} else if (oObj.aData["IsCompleted"]) {
                    			return 'Completed';
                    		} else if (oObj.aData["SpecTeamMember"] == null || oObj.aData["SpecTeamMember"] == '') {
                    			return 'Not Assigned';
                    		} else if (oObj.aData["IsOnHold"]) {
                    			return 'Pending - On Hold';
                    		} else if (oObj.aData["IsAuditSpecOnly"]) {
                    			return 'Pending - Spec Audit Check';
                    		}
                    		return 'Pending';
                    	}
                    },
                    { "sName": "TypicalFinder",
                    	"aTargets": [7],
                    	"bSearchable": false,
                    	"bSortable": false,
                    	"mDataProp": "TypicalFinder", "sTitle": "Typical Finder", "sWidth": "13%",
                    	"fnRender": function (oObj) {
                    		if (oObj.aData["IsPublished"]) {
                    			return '<a href=\"@Url.Action( "EditTypical", "SpecRequest" )/' + oObj.aData["RequestID"] + '/\" class="fbImageBtn">Published</a>';
                    		} else if (oObj.aData["IsCompleted"] && !oObj.aData["IsCanceled"]) {
                    			if (oObj.aData["HasTypical"]) {
                    				return '<a href=\"@Url.Action( "EditTypical", "SpecRequest" )/' + oObj.aData["RequestID"] + '/\" class="fbImageBtn">Recommended</a>';
                    			} else if (oObj.aData["IsRecommended"]) {
                    				return '<a href=\"@Url.Action( "AddTypical", "SpecRequest" )/' + oObj.aData["RequestID"] + '/\" class="fbImageBtn">Recommended</a>';
                    			} else {
                    				return 'Not recommended';
                    			}
                    		}
                    		return '';
                    	}
                    }
                ]
		});
	}

</script>