@model PDWModels.SpecRequests.ReOpenRequestInformation
@{
	ViewBag.Title = "NewAddRequest";
	Layout = "~/Views/Shared/NewLayout.cshtml";
	ViewBag.HeaderArea = "SpecRequests";
}
@using ProductDataWarehouse.Models
@using ProductDataWarehouse.Controllers
@using PDWInfrastructure

    <script type="text/javascript">
		var fileCount = 1;
		$(document).ready(function () {
			$('.submitBtn').click(function(e) {
				$('#theForm').submit();
			});

			$('.cancelBtn').click(function (e) {
			@if( PaoliWebUser.CurrentUser.CanManageOrders ) {
				<text>
				window.location.href = '@Url.Action( "Manage" )';
				</text>
				} else {
				<text>
    			window.location.href = '@Url.Action( "ViewAll" )';
				</text>
				}
			});

			var doesMultipleFiles = false;
    		$('#fileContainer input[type="file"]').each(function (i, fc) {
    			if (fc.files != null) {
    				doesMultipleFiles = true;
    			}
    		});
			if( doesMultipleFiles ) {
				$('.addlFilesIndex').remove();
				$('#fileContainer input[type="file"]').attr('name', 'addlFiles');
			}

		});

		function fileChanged() {
    		var doInsert = true;
    		$('#fileContainer input[type="file"]').each(function (i, fc) {
    			if (fc.value == null || fc.value == '' || fc.files != null) {
    				doInsert = false;
    				return false;
    			}
    		});
    		if (doInsert) {
    			$('#fileContainer').append('<div><input type="file" id="addlFiles' + fileCount + '" name="addlFiles[' + fileCount + ']" class="jfilestyle addlFiles" onchange="fileChanged()" data-buttontext="Choose File"/><input type="hidden" name="addlFiles.Index" value="' + fileCount + '" /></div>');
//				$('#addlFiles' + fileCount + '').jfilestyle({buttonText: "Choose a file"});
    			fileCount++;
    		}		
    	}
	</script>
                     <div class="container2">
     @using( Html.BeginForm( "ReOpenRequest", "SpecRequest", FormMethod.Post, new { id = "theForm", name = "theForm", enctype = "multipart/form-data" } ) )
	 {
		 @Html.AntiForgeryToken()
		 @Html.HiddenFor( m => m.RequestID )
		 <div class="main_inner1 activeSection requestPanel">
			 <h3>Request a Change to Request @Model.Name</h3>
			 <div class="main_inner11_btm">
					 <div class="main_inner11_msg">
					 <p>You have reopened Specification Project @Model.Name to make a change request or additional specification work to be completed for this project.<br />
Please provide any additional drawings or files related to the request below, along with notes and directions for the Spec Team.<br /><br /></p>
							<h4>Related Drawings or Notes</h4>
							<ul><li>
							<p>
								Attach PDFs of other applicable files to help the specification engineer complete
								this request.</p>
							<div class="box4" id="fileContainer">
							<div>
								<input type="file" id="addlFiles0" name="addlFiles[0]" class="jfilestyle addlFiles" onchange="fileChanged()" multiple data-buttontext="Choose File"/><input type="hidden" name="addlFiles.Index" value="0" class="addlFilesIndex" />
							</div>
							</div>
							</li></ul>
							<br />
						 <h4>I would like to request the following changes to @Model.Name</h4>
						 
						 @Html.TextAreaFor( m => m.Notes, new { @rows = "15", @class = "msg" } )
					 </div>
				 <i class="clear_0"></i>
			 </div>
		 </div>    
<div class="btnAlt">
<span class="btn7 cancelBtn">CANCEL</span>
<span class="btn11 submitBtn">SUBMIT</span>
</div>
	<!--@Html.ValidationSummary()-->
	 }
	 </div>