@model PDWModels.Images.ImageInformation
@{
    ViewBag.Title = "AddImage";
}
@using ProductDataWarehouse.Controllers

@if( ViewBag.CloseFancyBox ?? false )
{
    <script type="text/javascript">
        $(document).ready(function () {
            parent.$.fancybox.close();
            if (parent.loadImages) {
                parent.loadImages();
            }
        });
    </script>
}
else
{
    <script type="text/javascript">
        var finishSubTypes = [
            @foreach( var subType in ImportController.GetFinishSubTypeList() )
            {
            <text>{ id: @subType.Value, name: "@subType.Text" },</text>
            }
        ];
        $(document).ready(function () {
            $('#ImageContent').change(doImageContentChange);
            $('#FinishType').change(doFinishTypeChange);
            doImageContentChange();
            doFinishTypeChange();
        });

        function doFinishTypeChange() {
            var typeText = $('#FinishType option:selected').text();
            $('#FinishSubType').html('');
            $.each(finishSubTypes, function (i, opt) {
                if (opt.name.indexOf(typeText) >= 0) {
                    $('#FinishSubType').append('<option value=' + opt.id + '>' + opt.name + '</option>');
                }
            });
        }

        function doImageContentChange() {
            switch ($('#ImageContent').val()) {
                case '1':
                    $('#imageTypeRange').show();
                    $('#hasPeopleRange').show();
                    $('#featuredEdgeRange').hide();
                    $('#featuredPullRange').hide();
                    $('#featuredFinishRange').hide();
                    break;
                case '2':
                    $('#imageTypeRange').hide();
                    $('#hasPeopleRange').hide();
                    $('#featuredEdgeRange').show();
                    $('#featuredPullRange').hide();
                    $('#featuredFinishRange').hide();
                    break;
                case '3':
                    $('#imageTypeRange').hide();
                    $('#hasPeopleRange').hide();
                    $('#featuredEdgeRange').hide();
                    $('#featuredPullRange').show();
                    $('#featuredFinishRange').hide();
                    break;
                case '4':
                    $('#imageTypeRange').hide();
                    $('#hasPeopleRange').hide();
                    $('#featuredEdgeRange').hide();
                    $('#featuredPullRange').hide();
                    $('#featuredFinishRange').show();
                    break;
            }
        }
    </script>    
}
    <h2>Import Image File</h2>

    @using( Html.BeginForm( "AddImage", "Import", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
    {
        @Html.LabelFor( m => m.ImageName )<text>: </text>@Html.TextBoxFor( m => m.ImageName )<br />
        @Html.Label( "Image File Name: " )<input type="file" name="imageFile" data-val-required="The Image File Name is a required field." data-val="true" /><br />
        @Html.LabelFor( m => m.Caption )<text>: </text>@Html.TextAreaFor( m => m.Caption )<br />
        @Html.LabelFor( m => m.Keywords )<text>: </text>@Html.TextAreaFor( m => m.Keywords )<br />
        @Html.LabelFor( m => m.ImageContent )<text>: </text>@Html.DropDownListFor( m => m.ImageContent, ImportController.GetImageContentList( false ) )<br />
        <span id="imageTypeRange">@Html.LabelFor( m => m.ImageType ): @Html.DropDownListFor( m => m.ImageType, ImportController.GetImageTypeList() )<br /></span>
        <span id="hasPeopleRange">@Html.LabelFor( m => m.HasPeople ): @Html.CheckBoxFor( m => m.HasPeople )<br /></span>
        <span id="featuredEdgeRange">@Html.LabelFor( m => m.FeaturedEdge ): @Html.TextBoxFor( m => m.FeaturedEdge )<br /></span>
        <span id="featuredPullRange">@Html.LabelFor( m => m.FeaturedPull ): @Html.TextBoxFor( m => m.FeaturedPull )<br /></span>
        <span id="featuredFinishRange">@Html.LabelFor( m => m.FeaturedFinish ): @Html.TextBoxFor( m => m.FeaturedFinish )<br />
        @Html.LabelFor( m => m.FinishType ): @Html.DropDownListFor( m => m.FinishType, ImportController.GetFinishTypeList() )<br />
        @Html.LabelFor( m => m.FinishSubType ): @Html.DropDownListFor( m => m.FinishSubType, ImportController.GetFinishSubTypeList() )<br /></span>
@Html.ValidationSummary()
        <input type="submit" value="Import" />
    }
