@model PDWModels.Images.ImageInformation
@{
	ViewBag.Title = "AddImage";
}
@using ProductDataWarehouse.Controllers
@using ProductDataWarehouse.Models

@if( ViewBag.CloseFancyBox ?? false )
{
    <script type="text/javascript">
        $(document).ready(function () {
            parent.$.fancybox.close();
            if (parent.loadImages) {
                parent.loadImages();
            }
        });
    </script>
}
else
{
    <script type="text/javascript">
    	$(document).ready(function () {
    		$('#ImageContent').change(doImageContentChange);
    		$('#FinishType').change(doFinishTypeChange);
    		$('#ImageType').change(doImageTypeChange);
    		doFinishTypeChange();
    		doImageContentChange();
    		doImageTypeChange();
    	});

    	function doImageTypeChange() {
    		if ($('#ImageContent').val() != '1') {
    			$('.imgApplicationRange').hide();
    		} else {
    			switch ($('#ImageType').val()) {
    				case 'Env':
    				case 'WS':
    					$('.imgApplicationRange').show();
    					break;
    				default:
    					$('.imgApplicationRange').hide();
    					break;
    			}
    		}
    	}

           function doFinishTypeChange() {
           	switch ($('#FinishType').val()) {
           		case '@((int)PDWModels.Images.ImageInformation.FinishTypes.Laminate)':
           			$('.laminateRange').show();
           			$('.veneerRange').hide();
           			$('.seatingRange').hide();
           			break;
           		case '@((int)PDWModels.Images.ImageInformation.FinishTypes.Veneer)':
           			$('.laminateRange').hide();
           			$('.veneerRange').show();
           			$('.seatingRange').hide();
           			break;
           		case '@((int)PDWModels.Images.ImageInformation.FinishTypes.Seating)':
           			$('.laminateRange').hide();
           			$('.veneerRange').hide();
           			$('.seatingRange').show();
           			break;

           	}
        }

        function doImageContentChange() {
            switch ($('#ImageContent').val()) {
                case '1':
                    $('.imageTypeRange').show();
                    $('.hasPeopleRange').show();
                    $('.featuredEdgeRange').hide();
                    $('.featuredPullRange').hide();
                    $('.featuredFinishRange').hide();
                    $('.laminateRange').hide();
                    $('.veneerRange').hide();
                    $('.featuredTableShapeRange').hide();
                    $('.featuredTableBaseRange').hide();
					$('.controlMechanismRange').hide();
					$('.goToGuideRange').hide();
                    break;
                case '2':
                    $('.imageTypeRange').hide();
                    $('.hasPeopleRange').hide();
                    $('.featuredEdgeRange').show();
                    $('.featuredPullRange').hide();
                    $('.featuredFinishRange').hide();
                    $('.laminateRange').hide();
                    $('.veneerRange').hide();
                    $('.featuredTableShapeRange').hide();
                    $('.featuredTableBaseRange').hide();
					$('.controlMechanismRange').hide();
					$('.goToGuideRange').hide();
                    break;
                case '3':
                    $('.imageTypeRange').hide();
                    $('.hasPeopleRange').hide();
                    $('.featuredEdgeRange').hide();
                    $('.featuredPullRange').show();
                    $('.featuredFinishRange').hide();
                    $('.laminateRange').hide();
                    $('.veneerRange').hide();
                    $('.featuredTableShapeRange').hide();
                    $('.featuredTableBaseRange').hide();
					$('.controlMechanismRange').hide();
					$('.goToGuideRange').hide();
                    break;
                   case '4':
                   	$('.imageTypeRange').hide();
                   	$('.hasPeopleRange').hide();
                   	$('.featuredEdgeRange').hide();
                   	$('.featuredPullRange').hide();
                   	$('.featuredFinishRange').show();
                   	doFinishTypeChange();
                   	$('.featuredTableShapeRange').hide();
                   	$('.featuredTableBaseRange').hide();
                   	$('.controlMechanismRange').hide();
                   	$('.goToGuideRange').hide();
                   	break;
                case '5':
                    $('.imageTypeRange').hide();
                    $('.hasPeopleRange').hide();
                    $('.featuredEdgeRange').hide();
                    $('.featuredPullRange').hide();
                    $('.featuredFinishRange').hide();
                    $('.laminateRange').hide();
                    $('.veneerRange').hide();
                    $('.featuredTableShapeRange').show();
                    $('.featuredTableBaseRange').hide();
					$('.controlMechanismRange').hide();
					$('.goToGuideRange').hide();
                    break;
                case '6':
                    $('.imageTypeRange').hide();
                    $('.hasPeopleRange').hide();
                    $('.featuredEdgeRange').hide();
                    $('.featuredPullRange').hide();
                    $('.featuredFinishRange').hide();
                    $('.laminateRange').hide();
                    $('.veneerRange').hide();
                    $('.featuredTableShapeRange').hide();
                    $('.featuredTableBaseRange').show();
					$('.controlMechanismRange').hide();
					$('.goToGuideRange').hide();
                    break;
                case '7':
                    $('.imageTypeRange').hide();
                    $('.hasPeopleRange').hide();
                    $('.featuredEdgeRange').hide();
                    $('.featuredPullRange').hide();
                    $('.featuredFinishRange').hide();
                    $('.laminateRange').hide();
                    $('.veneerRange').hide();
                    $('.featuredTableShapeRange').hide();
                    $('.featuredTableBaseRange').hide();
					$('.controlMechanismRange').show();
					$('.goToGuideRange').hide();
                    break;
                case '8':
                    $('.imageTypeRange').hide();
                    $('.hasPeopleRange').hide();
                    $('.featuredEdgeRange').hide();
                    $('.featuredPullRange').hide();
                    $('.featuredFinishRange').hide();
                    $('.laminateRange').hide();
                    $('.veneerRange').hide();
                    $('.featuredTableShapeRange').hide();
                    $('.featuredTableBaseRange').hide();
					$('.controlMechanismRange').hide();
					$('.goToGuideRange').show();
                    break;
                  }

                  doImageTypeChange();
        }
    </script>    
}
    <h2 class="mart0">Import Image File</h2>

    @using( Html.BeginForm( "AddImage", "Import", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
	{
		@Html.AntiForgeryToken()
        <span class="dataRow">@Html.MJLabelFor( m => m.ImageName, true )@Html.TextBoxFor( m => m.ImageName )<br /></span>
		<span class="dataRow">@Html.Label( "Image File Name: " )<input type="file" name="imageFile" data-val-required="The Image File Name is a required field." data-val="true" /><br /></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.Caption, true )@Html.TextAreaFor( m => m.Caption )<br /></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.Keywords, true )@Html.TextAreaFor( m => m.Keywords )<br /></span>
        <span class="dataRow">@Html.MJLabelFor( m => m.ImageContent, true )@Html.DropDownListFor( m => m.ImageContent, ImportController.GetImageContentList( false ) )<br /></span>
        <span class="imageTypeRange dataRow">@Html.MJLabelFor( m => m.ImageType, true )@Html.DropDownListFor( m => m.ImageType, ImportController.GetImageTypeList() )<br /></span>
        <span class="hasPeopleRange dataRow">@Html.MJLabelFor( m => m.HasPeople, true )@Html.CheckBoxFor( m => m.HasPeople )<br /></span>
        <span class="featuredEdgeRange dataRow">@Html.MJLabelFor( m => m.FeaturedEdge, true )@Html.TextBoxFor( m => m.FeaturedEdge )<br /></span>
        <span class="featuredPullRange dataRow">@Html.MJLabelFor( m => m.FeaturedPull, true )@Html.TextBoxFor( m => m.FeaturedPull )<br /></span>
        <span class="featuredFinishRange dataRow">@Html.MJLabelFor( m => m.FeaturedFinish, true ) @Html.TextBoxFor( m => m.FeaturedFinish )<br /></span>
        <span class="featuredFinishRange dataRow">@Html.MJLabelFor( m => m.FinishCode, true ) @Html.TextBoxFor( m => m.FinishCode )<br /></span>
        <span class="featuredFinishRange dataRow">@Html.MJLabelFor( m => m.FinishType, true ) @Html.DropDownListFor( m => m.FinishType, ImportController.GetFinishTypeList() )<br /></span>
        <span class="laminateRange dataRow">@Html.MJLabelFor( m => m.LaminatePattern, true ) @Html.DropDownListFor( m => m.LaminatePattern, ImportController.GetLaminatePatternList() )<br /></span>
        <span class="laminateRange dataRow">@Html.MJLabelFor( m => m.LaminateIsTFL, true ) @Html.CheckBoxFor( m => m.LaminateIsTFL )<br /></span>
        <span class="laminateRange dataRow">@Html.MJLabelFor( m => m.LaminateIsHPL, true ) @Html.CheckBoxFor( m => m.LaminateIsHPL )<br /></span>
        <span class="veneerRange dataRow">@Html.MJLabelFor( m => m.VeneerGrade, true ) @Html.DropDownListFor( m => m.VeneerGrade, ImportController.GetVeneerGradeList() )<br /></span>
        <span class="veneerRange dataRow">@Html.MJLabelFor( m => m.VeneerSpecies, true ) @Html.DropDownListFor( m => m.VeneerSpecies, ImportController.GetVeneerSpeciesList() )<br /></span>
        <span class="seatingRange dataRow">@Html.MJLabelFor( m => m.SeatingGrade, true ) @Html.DropDownListFor( m => m.SeatingGrade, ImportController.GetSeatingGradeList() )<br /></span>
        <span class="featuredTableShapeRange dataRow">@Html.MJLabelFor( m => m.FeaturedTableShape, true ) @Html.TextBoxFor( m => m.FeaturedTableShape )<br /></span>
        <span class="featuredTableBaseRange dataRow">@Html.MJLabelFor( m => m.FeaturedTableBase, true ) @Html.TextBoxFor( m => m.FeaturedTableBase )<br /></span>
		<span class="controlMechanismRange dataRow">@Html.MJLabelFor( m => m.ControlMechanism, true ) @Html.TextBoxFor( m => m.ControlMechanism )<br /></span>
		<span class="controlMechanismRange dataRow">@Html.MJLabelFor( m => m.ControlDescription, true ) @Html.TextAreaFor( m => m.ControlDescription )<br /></span>
        <span class="goToGuideRange dataRow">@Html.MJLabelFor( m => m.GoToGuidePageNum, true ) @Html.TextBoxFor( m => m.GoToGuidePageNum )<br /></span>
        <span class="imgApplicationRange dataRow">@Html.MJLabelFor( m => m.ImageApplication, true ) @Html.DropDownListFor( m => m.ImageApplication, ImportController.GetImageApplicationList() )<br /></span>
@Html.ValidationSummary()
        <input type="submit" class="btn_type1" value="Import" onclick="$('#inProgress').show();" />
	}
    <div style="display:none;margin-top:25px;" id="inProgress">
        <img src="@Url.Content( "~/Content/Images/baprogress.gif" )" alt="" style="display:inline;"/>&nbsp;<span>Uploading...</span>
    </div>
