@model PDWModels.Dealers.DealerVideoInformation

@{
    ViewBag.Title = "EditDealerVideo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if( ViewBag.CloseFancyBox ?? false )
{
    <script type="text/javascript">
    	$(document).ready(function () {
    		parent.$.fancybox.close();
    		if (parent.loadVideos) {
    			parent.loadVideos();
    		}
    	});
    </script>
}
else
{
    <script type="text/javascript">
    	$(document).ready(function () {
    	});

    </script>    
}
    <h2>Edit Video</h2>

    @using( Html.BeginForm( "EditDealerVideo", "Import", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
	{
		@Html.HiddenFor( m => m.VideoID )
        @Html.LabelFor( m => m.Name )<text>: </text>@Html.TextBoxFor( m => m.Name )<br />
        @Html.LabelFor( m => m.YouTubeID )<text>: </text>@Html.TextBoxFor( m => m.YouTubeID )<br />
@Html.ValidationSummary()
        <input type="submit" value="Update" id="submitBtn" />
	}
