@{
    ViewBag.Title = "Index";
}
@using ProductDataWarehouse.Controllers
<script type="text/javascript">

    function DoAjaxCall() {
        $.ajax({
            dataType: 'json',
            crossDomain: true,
            type: 'GET',
            url: 'http://matt3400:8780/PDW/GetSeriesList?callback=?',
            data: null,
            success: function (data, textStatus, jqXHR) {
                $("#ajaxResults").text(JSON.stringify(data));
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error getting data:' + errorThrown + ' [' + textStatus + ']');
            }
        });
    }

</script>

    <div style="border:1px solid gray; padding:10px; margin:20px 0px;">
    <h2>Import PDW File</h2>

    @using( Html.BeginForm( "Index", "Import", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
    {
        @Html.Label( "File Name: " )<input type="file" name="csvFile" data-val-required="The File Name is a required field." data-val="true" /><br />
@Html.ValidationSummary()
        <input type="submit" value="Import PDW" />
    }
    </div>

    <div style="border:1px solid gray; padding:10px; margin:20px 0px;">
    <h2>Import Typical File</h2>

    @using( Html.BeginForm( "Typicals", "Import", FormMethod.Post, new { id = "theForm", name = "TheForm", enctype = "multipart/form-data" } ) )
    {
        @Html.Label( "File Name: " )<input type="file" name="typicalFile" data-val-required="The File Name is a required field." data-val="true" /><br />
@Html.ValidationSummary()
        <input type="submit" value="Import Typicals" />
    }
    </div>
<!--
<input type="button" onclick="DoAjaxCall();" value="Test Cross Domain" />
-->
<a href="@Url.Action( "Images" )">Manage Images</a><br />
<a href="@Url.Action( "SearchLog" )">Search Log</a><br />
<a href="@Url.Action( "Collateral" )">Manage Collateral</a><br />
<p id="ajaxResults"></p>

